<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
  <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
  <title>쿠폰 -PTever(피테버)</title>
  <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>
    body {font-family: 'SUIT', sans-serif;}
  </style>
  <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
  <link rel="stylesheet" href="./coupon.css">
  <link rel="stylesheet" href="../defaultCommon.css">
  <link rel="stylesheet" href="../paging.css">
</head>
<body>
<!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
<div class="root pc">
  <div class="RootWrapper">
    <!-- header태그로 감싼 후 section 태그 2개가 각각 위아래를 담당합니다. -->
    <!-- 클래스명은 원래 프립을 참고하여 최대한 직관적으로 정했습니다. -->
    <!-- 그리고 혹시나 다른 태그들 css 주시다가 겹치지 않도록 했습니다. -->
    <!-- 피드백 환영입니다...! -->

    <!-- 쿠폰 페이지 -->
    <!-- 전체 div -->
    <div class="Coupon">
      <!-- 쿠폰 Title -->
      <header class="CouponHeader">
        <div class="Content">
          <div class="Title">쿠폰</div>
        </div>
      </header>
      <!-- 쿠폰 등록과 보유한 쿠폰을 감싸는 div -->
      <div class="Wrapper">
        <!-- 쿠폰 등록 Form -->
        <form class="Register">
          <div>
            <label class="RegisterTitle">쿠폰 등록</label>
            <div class="InsertWrap">
              <!-- 쿠폰 코드 입력란(value에 값이 들어가면 아래 InsertButton 활성화)-->
              <input placeholder="쿠폰 코드를 입력하세요." class="Insert-TextField" value>
            </div>
          </div>
          <button type="submit" class="InsertButton" disabled>확인</button>
        </form>
        <!-- 쿠폰 등록 div와 보유한 쿠폰 div의 구분선 -->
        <hr size="40" type="Line" class="Line">
        <!-- 보유한 쿠폰 전체 div -->
        <div class="Possession">
          <label class="CouponListTitle">보유한 쿠폰</label>
          <!-- 보유한 쿠폰이 없을 때  -->
          <div class="EmptyCouponWrapper iUqawC">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h80v80H0z'/%3E %3Cpath fill='none' d='M0 0h80v80H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='2' d='M73.348 31.06a6 6 0 1 0 1.046 11.954l1.133 12.95a5 5 0 0 1-4.546 5.417l-57.779 5.055a5 5 0 0 1-5.417-4.545l-1.133-12.95a6 6 0 1 0-1.046-11.955l-1.133-12.95a5 5 0 0 1 4.546-5.417l57.779-5.055a5 5 0 0 1 5.417 4.545l1.133 12.95z'/%3E %3Cpath fill='%23DDD' d='M33.614 38.15a1.6 1.6 0 1 1-.278-3.188 1.6 1.6 0 0 1 .278 3.187zm12.752-1.116a1.6 1.6 0 1 1-.28-3.188 1.6 1.6 0 0 1 .28 3.188z'/%3E %3Cpath stroke='%23DDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M37.22 42.652c1.94-2.31 4.065-2.497 6.376-.557'/%3E %3C/g%3E %3C/svg%3E" class="EmptyCoupon">
            <div class="EmptyCouponText cVpYem">보유한 쿠폰이 없어요.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 모바일 버전 -->
<div class="root mobile">
  <div class="RootWrapper">
    <!-- header태그로 감싼 후 section 태그 2개가 각각 위아래를 담당합니다. -->
    <!-- 클래스명은 원래 프립을 참고하여 최대한 직관적으로 정했습니다. -->
    <!-- 그리고 혹시나 다른 태그들 css 주시다가 겹치지 않도록 했습니다. -->
    <!-- 피드백 환영입니다...! -->

    <!-- 쿠폰 페이지 -->
    <!-- 전체 div -->
    <div class="Coupon">
      <!-- 쿠폰 Title -->
      <header class="CouponHeader">
        <div class="Backward">
          <button type="button">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" alt="닫기" class="BackwardImg">
          </button>
        </div>
        쿠폰
        <div class="Backward">
        </div>
      </header>

      <!-- 쿠폰 등록과 보유한 쿠폰을 감싸는 div -->
      <div class="Wrapper">
        <!-- 쿠폰 등록 Form -->
        <form class="Register">
          <div>
            <label class="RegisterTitle">쿠폰 등록</label>
            <div class="InsertWrap">
              <!-- 쿠폰 코드 입력란(value에 값이 들어가면 아래 InsertButton 활성화)-->
              <input placeholder="쿠폰 코드를 입력하세요." class="Insert-TextFieldMobile" value>
            </div>
          </div>
          <button type="submit" class="InsertButtonMobile" disabled>확인</button>
        </form>
        <!-- 쿠폰 등록 div와 보유한 쿠폰 div의 구분선 -->
        <hr size="40" type="Line" class="Line">
        <!-- 보유한 쿠폰 전체 div -->
        <div class="Possession">
          <label class="CouponListTitle">보유한 쿠폰</label>
          <!-- 보유한 쿠폰이 없을 때  -->
          <div class="EmptyCouponWrapper iUqawC">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h80v80H0z'/%3E %3Cpath fill='none' d='M0 0h80v80H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='2' d='M73.348 31.06a6 6 0 1 0 1.046 11.954l1.133 12.95a5 5 0 0 1-4.546 5.417l-57.779 5.055a5 5 0 0 1-5.417-4.545l-1.133-12.95a6 6 0 1 0-1.046-11.955l-1.133-12.95a5 5 0 0 1 4.546-5.417l57.779-5.055a5 5 0 0 1 5.417 4.545l1.133 12.95z'/%3E %3Cpath fill='%23DDD' d='M33.614 38.15a1.6 1.6 0 1 1-.278-3.188 1.6 1.6 0 0 1 .278 3.187zm12.752-1.116a1.6 1.6 0 1 1-.28-3.188 1.6 1.6 0 0 1 .28 3.188z'/%3E %3Cpath stroke='%23DDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M37.22 42.652c1.94-2.31 4.065-2.497 6.376-.557'/%3E %3C/g%3E %3C/svg%3E" class="EmptyCoupon">
            <div class="EmptyCouponText cVpYem">보유한 쿠폰이 없어요.</div>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="./coupon.js"></script>
</html>