/* 기본 CSS */
* {
    outline: none;
    background-repeat: no-repeat;
    font-family: inherit;
    box-sizing: inherit;
    font-weight: bold;
}

html,
body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    display: block;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div.root {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

section {
    display: block;
    font-family: "SUIT", sans-serif;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button,
input {
    overflow: visible;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not(
        [type="file"]
    ) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-image: initial;
}

hr {
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

p,
label {
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b,
strong {
    font-weight: bolder;
}

/* 1:1문의 목록 css */

div.PersonalHelpPageWrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.PersonalHelpPageTitle {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
}

.DoHelpButtonWrapper {
    display: flex;
    justify-content: right;
    height: 70px;
}

.DoPersonalHelpButton {
    margin: 4px 16px 20px;
    width: 130px;
    height: 50px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 14px;
}

.DoPersonalHelpButton:hover {
    border: 1px solid rgb(51, 151, 255);
}

.DoPersonalHelpButton-Mobile {
    margin: 15px 10px 20px;
    width: 100px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 14px;
}

.DoPersonalHelpButton-Mobile:hover {
    border: 1px solid rgb(51, 151, 255);
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.FAQListWrapper {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.FAQListWrapper > :first-child {
    border-top: 1px solid #000;
}

.FAQ-Element {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.FAQ-Element-Mobile {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 18px;
    padding: 20px 0px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.FAQ-AnswerBadge {
    margin-left: 0px;
    margin-right: 21px;
    width: 55px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.FAQ-AnswerBadge-Mobile {
    margin-left: 0px;
    margin-right: 10px;
    width: 55px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.FAQ-Content {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

.FAQ-Content * {
    width: 100%;
    line-height: 10px;
    font-family: inherit;
}

.FAQ-Content-Mobile {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    color: rgb(74, 74, 74);
    font-size: 12px;
    line-height: 18px;
}

.FAQ-Content-Mobile * {
    width: 100%;
    line-height: 10px;
    font-family: inherit;
}


.FAQ-ReplyWrapper {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

.FAQ-ReplyWrapper * {
    width: 100%;
    line-height: 10px;
    font-family: inherit;
}

.FAQ-ReplyWrapper-Mobile {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 12px;
    line-height: 18px;
}

.FAQ-ReplyWrapper-Mobile * {
    width: 100%;
    
    font-family: inherit;
}

.PaginationWrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Pagination-PrevButtonWrapper {
    display: flex;
    margin-right: 10px;
}

button:disabled {
    cursor: not-allowed;
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.Pagination-PrevButton {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.PrevButton-Image {
    transform: rotate(180deg);
}

.Page-Selected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.Page-Unselected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.Pagination-NextButtonWrapper {
    display: flex;
    margin-left: 10px;
}

.Pagination-NextButton {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.LineUnderPagination {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/* 미디어 쿼리 */
.pc {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 768px){
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
}