<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>회원탈퇴 -피테버(PTever)</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {
            font-family: 'SUIT', sans-serif;
        }
    </style>
    <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
    <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
    <link rel="stylesheet" href="/css/withdraw/withdrawNext.css">
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<div class="root pc withdraw">
    <div class="RootWrapper">
        <header th:replace="~{fix/header-login :: header-login}"></header>
        <div class="BaseStyle gCcxzP">
            <div class="PageWrapper cSBDYH">
                <div class="PagePositioner bdUJTm">
                    <div class="PageInnerPositioner jRyCMW">
                        <div class="ContentWrapper bmzhoc">
                            <div class="ContentInnerWrapper cORztR">
                                <div class="Spacer bjZCfw">
                                    <div class="QuestionWrapper">
                                        <div>
                                            <div class="QuestionHeader gMkzGS">
                          <span class="TitleWrapper iPEZTB">
                            <label class="TitleLabel bFCrTC">
                              <img class="PTeverLogo" src="/image/withdraw/PTEVER7.png">
                              <span>회원 탈퇴 주의사항 안내</span>
                              <div class="FinalAgreementWrapper">
                                <p class="FinalAgreement">
                                  ✔ 탈퇴 시 계정 정보는 모두 삭제되며 복구가 불가합니다.<br><br>
                                  ✔ 탈퇴 후 결제 내역의 환불이 불가하므로 반드시 탈퇴 전 환불을 신청해 주세요.
                                  <br>&nbsp&nbsp&nbsp&nbsp(환불 신청 시 환불 규정을 꼭 확인하세요.)<br><br>
                                  ✔ 탈퇴 후에도 문의하기, 후기 등 등록한 게시물은 그대로 남아 있습니다.
                                  <br>&nbsp&nbsp&nbsp&nbsp삭제를 원하는 게시글이 있다면 반드시 탈퇴 전 삭제해주시기 바랍니다.
                                  <br>&nbsp&nbsp&nbsp&nbsp탈퇴 후에는 게시글의 임의 삭제가 불가합니다.<br><br>
                                  <br><span>&nbsp<ins>✔ 위 안내 사항에 대해 모두 동의하시면 아래 절차에 따라 탈퇴를 진행하여주시기 바랍니다.</ins></span>
                                </p>
                              </div>
                            </label>
                          </span>
                                            </div>
                                            <div class="QuestionHeader gMkzGS">
                          <span class="TitleWrapper iPEZTB">
                            <label class="TitleLabel bFCrTC">
                              <span>✔ 비밀번호 확인</span>
                              <div class="FinalAgreementWrapper">
                                <p class="FinalAgreement"> 본인 확인을 위한 비밀번호 입력 후, [확인✔] 버튼을 누르시면 바로 탈퇴처리가 완료됩니다. </p>
                                
                              </div>
                            </label>
                          </span>
                                            </div>
                                            <div class="SpacerUnderTitleWrapper NSDme">
                                                <p class="SpacerUnderTitle zWyaQ"></p>
                                            </div>
                                        </div>
                                        <div class="AnswerWrapper gdXOwL">
                                            <div class="InputWrapper iApDbT">
                                                <input type="password"
                                                       aria-labelledby="short_text-567a2e02f18fd3e2-aabacYfAZQqpzmQZ-title"
                                                       tabindex="0" placeholder="여기에 비밀번호를 입력하세요." class="InputField"
                                                       value
                                                th:name="userPassword">
                                                <p th:if="${errorMessage}" th:text="${errorMessage}" class="Password-ErrorMsg"></p>
                                            </div>
                                            <div class="BlockFooter hlIUEI">
                                                <div class="BlockFooterSpacer deNRRV">
                                                    <div>
                                                        <div class="AnimateStyled jPHXjX">
                                                            <div class="InnerAnimateStyled cRtnmU">
                                                                <div class="SubmitWrapper krVpCt">
                                                                    <button type="button" class="ButtonWrapper blGbJd">
                                      <span class="FlexWrapper lnoWON">
                                        <span class="ButtonTextWrapper ffdgGn">
                                          <span class="TextWrapperInButton gbnXlt">확인</span>
                                        </span>
                                        <span class="SpacerInButton dDLtDE">
                                          <span class="CheckIconWrapper csgEuC">
                                            <span class="Boundary cqvjYc">
                                              <svg height="13" width="16">
                                                <path d="M14.293.293l1.414 1.414L5 12.414.293 7.707l1.414-1.414L5 9.586z"></path>
                                              </svg>
                                            </span>
                                          </span>
                                        </span>
                                      </span>
                                                                    </button>
                                                                    <div class="HelperWrapper iwYbne">
                                                                        <p class="Warning"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>

<script src="/js/withdraw/withdrawNext.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
</html>