<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>회원탈퇴 -피테버(PTever)</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
    <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
    <link rel="stylesheet" href="/css/withdraw/withdrawMain.css">
</head>
<body>
<div class="root pc withdraw">
    <div class="RootWrapper">
        <div class="BaseStyle">
            <div class="PageWrapper gfRTxr">
                <div class="AllContentWrapper igEDuG">
                    <div class="ScreenContent jErhGw">
                        <div class="InlineContent bkILTH">
                            <div class="ContentWrapperInner gzcxOh">

                                <div class="AnimateStyled jPHXjX">
                                    <div class="AttachmentWrapper ewpDWo">
                                        <div class="FilterWrapper jyHlaH">
                                            <img class="ByeImage" alt="탈퇴" src="/image/withdraw/sad.png" style="display: block; margin: 0px auto; height: 330px; width: 220px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="ContentBody dBOcVT">
                                    <div class="DistributeWrapper jllqpT">
                                        <div class="AnimateStyled jPHXjX">
                                            <h1 class="TextWrapper gGHLyf">
                                                <span>PTever 서비스 탈퇴를 신청하셨습니다.</span>
                                            </h1>
                                            <p class="BeneathTextWrapper lgKtoL">
                                                <span>탈퇴 시 서비스 이용이 어렵습니다.</span><br><span>그래도 계속 진행하시겠어요?</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="InlineButtonWrapper LlaGz">
                                    <div class="AnimateStyled jPHXjX">
                                        <div class="InlineButtonInnerWrapper kUbtJC">
                                            <a class="SubmitWrapper hWDZbk" href="">
                                                <button type="button" class="ButtonWrapper jXWOEn">
                          <span class="FlexWrapper lnoWON">
                            <span class="ButtonTextWrapper ffdgGn">
                            <span class="TextContinue bFCrTC">계속하기</span>
                            </span>
                          </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/withdraw/withdrawNext.js"></script>
</body>
</html>