<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>PTever</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
    <link rel="stylesheet" href="/css/mainpage/mainpage-header.css">
    <link rel="stylesheet" href="/css/details/details.css">
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
    <!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
    <div id="root">
        <div class="RootWrapper">
            <header th:replace="~{fix/header-login :: header-login}"></header>
            <div class="PageWrapper">
                <div class="Fade_Wrapper">
                    <header class="detailPage_Header">
                        <div class="detailPage_Wrapper">
                            <div class="detailPage_Title">
                                <div th:text="${post.communityType}"></div>
                                <div class="List-link-wrapper">
                                    <a href="/community/full-page">전체 게시글 보기</a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="detailPageContent_Wrapper">
                        <div class="detailContent_wrapper">
                            <div class="detailContent_Header">
                                <div class="detailContent_ProfileImageWrapper">
                                    <div class="Image_Wrapper">
                                        <div class="Fade_Wrapper" style="opacity: 1; display: block;">
                                            <div class="Ratio" style="display: block;">
                                                <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                    <div class="Ratio-Content" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                        <img th:src="${post.userProfilePath}" style="width: 48px; height: 48px;" alt="프로필"
                                                             class="Image_Default">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="detailContent_MetaData">
                                    <div class="detailContent_Name" th:text="${post.userNickname}"></div>
                                    <div class="detailContent_Row">
                                        <div class="detailContent_Created" th:text="${#temporals.format(post.postDate, 'yyyy년 MM월 dd일 HH:mm 작성')}"></div>
                                        <div class="detailContent_Created">&nbsp;|&nbsp;</div>
                                        <div class="detailContent_Updated" th:text="${#temporals.format(post.postUpdateDate, '최종수정 yyyy년 MM월 dd일 HH:mm')}"></div>
                                    </div>
                                </div>
                                
                                <div th:if="${session.user != null && session.user.userId == post.userId}" class="detailContent-ButtonWrapper">
                                    <div class="detailContent-Button">
                                        <button onclick="updatePost()" class="detailContent-UpdateButton">
                                            <input type="hidden" th:value="${session.postId}" th:name="postId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="detailContent-Button">
                                        <button onclick="deletePost()" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${session.postId}" th:name="postId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
    
                            <div class="detailContent_Title" th:text="${post.postTitle}"></div>
                            <div class="detailContent_Body">
                                <div class="detailContent_Content" th:text="${post.postContent}"></div>
                            </div>
<!--                            <div class="detailContent_LikeButton">-->
<!--                                <button class="like_Button">-->
<!--                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h24v24H0z'/%3E %3Cpath fill='%23FFCD00' fill-rule='nonzero' d='M12 3h1v3h-1V3zm5.207 1.086l.707.707-2.121 2.121-.707-.707 2.121-2.121zm-10.121.707l.707-.707 2.121 2.121-.707.707-2.121-2.121z'/%3E %3Cpath fill='%23BBB' stroke='%23BBB' d='M4 22h4v-9H4z'/%3E %3Cpath stroke='%23BBB' d='M17.936 12h-3.958V9.388A1.38 1.38 0 0 0 12.6 8c-.497 0-.965.267-1.212.697L9 13H8v9h9.153a2 2 0 0 0 1.983-1.741l.783-6A2 2 0 0 0 17.936 12z'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                         class="like_Button_Icon" >-->
<!--                                    <span>0</span>-->
<!--                                </button>-->
<!--                            </div>-->
    
<!--                            <div class="detailContent_ImageWrapper">-->
<!--                                <div class="Image_StyledWrapper">-->
<!--                                    <img class="Image_StyledImage Image" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_600/photo_1692630896586_b1be811dd1857e7810d2931249a1abd3c68ef28bf58f37d884d555c6f4ce1d9e"-->
<!--                                    >-->
<!--                                </div>-->
<!--    -->
<!--                                <div class="Image_StyledWrapper">-->
<!--                                    <img class="Image_StyledImage Image" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_600/photo_1692630897020_9fa2aad18562fc4742896abd0bd6512c2c752ff61b0c42e03fa99d380f117ae8"-->
<!--                                    >-->
<!--                                </div>-->
<!--    -->
<!--                                <div class="Image_StyledWrapper">-->
<!--                                    <img class="Image_StyledImage Image" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_600/photo_1692630897435_79fd91cc530fd59631fd0703321a22b679e154fbaac3967abdeb0947c01e0dc8"-->
<!--                                    >-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
    
                    <div class="button_Wrapper" th:if="${session.user != null}">
                        <button width="210px" font-size="14px" class="ButtonWrite">댓글쓰기</button>
                    </div>
    
                    <div class="comment">
                        <div class="comment_Wrapper" th:each="Comment:${comments}">
                            <div class="commentInner_Wrapper">
                                <div class="commentInner_Author">
                                    <div class="commentInner_ImageWrapper">
                                        <div class="Image_Wrapper">
                                            <div class="Fade_Wrapper" style="opacity: 1; display: block;">
                                                <div class="Ratio" style="display: block;">
                                                    <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                                                        <div class="Ratio-content" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                            <img th:src="${Comment.userProfilePath}" alt="프로필" class="Image_StyledImage">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-userinfo-wrapper">
                                        <div class="InnerCard_Label" th:text="${Comment.userNickname}"></div>
                                        <div class="InnerCard_SubLabel" th:text="${#temporals.format(Comment.commentWriteDate, 'yyyy-MM-dd HH:mm 작성')}"></div>
                                    </div>
                                    <div th:if="${session.user != null && session.user.userId == Comment.userId}" class="detail-comment-delete-wrapper">
                                        <button onclick="deleteComment()" class="detailContent-comment-DeleteButton">
                                            <input type="hidden" th:value="${Comment.communityCommentId}" th:name="communityCommentId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="InnerCard_Body" th:text="${Comment.commentContent}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form th:if="${session.user != null}" method="post" th:action="@{/community/detail}" th:object="${communityCommentDTO}" class="commentwrite" id="commentForm">
                <div class="backdrop"></div>
            
                <div class="wrap">
                    <p th:text="${session.user.userNickname}" class="profile" th:style="|background-image: url(${currentUserProfilePath});|"></p>
                    <input type="hidden" th:value="${session.user.userId}" th:name="userId">
                    <input type="hidden" th:value="${session.postId}" th:name="postId">
            
                    <textarea th:field="*{commentContent}" placeholder="댓글을 입력하세요."></textarea>
            
                    <input type="submit" value="완료" class="submit">
                    <input type="button" value="취소" class="cancel">
                </div>
            </form>
            <form class="imageStyled_Box" id="imageForm">
                <div class="backdrop"></div>
                <div class="header">
                    <span></span>
            
                    <button class="close">
                        <div class="closeButton"></div>
                    </button>
                </div>
                <div class="imageWrap">
                    <img th:src="${currentUserProfilePath}" class="imageBox_Styled">
                </div>
            </form>
            <footer th:replace="~{fix/footer :: my-footer}"></footer>
        </div>
    </div>
</body>
<script src="/js/details/details.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</html>