<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTever</title>
  <link rel="stylesheet" href="/css/free-post/free-postApp.css">
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>

    body {font-family: 'SUIT', sans-serif;}
  </style>
</head>
<body>

<div class="pageWrapper">
  <div class="page_title">
    <h1 font-size="30px" class="leftPageTitle">커뮤니티</h1>
    <button width="210px" font-size="14px" class="ButtonWrite">글쓰기</button>
  </div>

  <div class="FreePostPage_Bar">
    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">전체</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">자유게시판</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">소도구 거래 게시판</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">내가 쓴 게시글</span>
      </div>
    </a>
  </div>

  <div class="Fade_Wrapper" style="opacity: 1; display: block;">
    <ul class="fullPage_fullPageWrapper">

      <li>
        <div class="fullPage_titleWrapper">
          <div class="freePost_Bage">자유게시판</div>

          <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
        </div>
      </li>
      <li>
        <div class="fullPage_titleWrapper">
          <div class="freePost_Bage">자유게시판</div>

          <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
        </div>
      </li>
      <li>
        <div class="fullPage_titleWrapper">
          <div class="freePost_Bage">자유게시판</div>

          <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
        </div>
      </li>
      <li>
        <div class="fullPage_titleWrapper">
          <div class="freePost_Bage">자유게시판</div>

          <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
        </div>
      </li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
      <li><div class="fullPage_titleWrapper">
        <div class="freePost_Bage">자유게시판</div>

        <div class="fullPage_Cotent">광복절(8/15) 고객센터 운영시간 안내</div>
      </div></li>
    </ul>
  </div>

</div>





</body>
<script src="free-post.js"></script>
</html>