<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>PTever</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/write/write.css">
    
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
    <link rel="stylesheet" href="/css/mainpage/mainpage-header.css">
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
<div id="root">
    <div class="RootWrapper">
        <header th:replace="~{fix/header-login :: header-login}"></header>
        <div class="Padded">
            <div class="WritePage_Wrapper">
                <div class="WritePage_Header">
                    <h1 font-size="20px"  class="LeftPageTitle">게시물 수정하기</h1>
                    
                    
                    <!--                    <div class="checkBox_Wrapper">-->
                    <!--                        <div class="checkboxItem_Wrapper" id="freePost">-->
                    <!--                            <div class="CheckboxItem_Box_Select" id="Box1"></div>-->
                    <!--                            <input type="radio" class="CheckboxItem_Input freecheck">-->
                    <!--                            <div>자유게시판</div>-->
                    <!--                        </div>-->
                    
                    
                    <!--                        <div class="checkboxItem_Wrapper" id="transaction">-->
                    <!--                            <div class="CheckboxItem_Box" id="Box2"></div>-->
                    <!--                            <input type="radio" class="CheckboxItem_Input transcheck">-->
                    <!--                            <div>소도구 거래장터</div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                
                </div>
                
                <hr class="Hr">
                
                
                <div class="Fade_Wrapper free-post-write" style="opacity: 1; display: block;">
                    <form th:action="@{/community/update-post}" method="post">
                        <input type="hidden" th:value="${session.postId}" th:name="postId">
                        <textarea placeholder="제목을 입력하세요." id="title" th:name="postTitle"
                                  class="WritePage_TitleArea" th:value="${foundPost.postTitle}" th:text="${foundPost.postTitle}"></textarea>
                        <hr class="Hr">
                        <textarea placeholder="내용을 입력하세요." id="content" th:name="postContent"
                                  class="WritePage_TextArea" th:value="${foundPost.postContent}" th:text="${foundPost.postContent}"></textarea>
                        <div class="WritePage_Footer">
                            <button type="submit" width="100%" color="white" font-size="13px" disabled
                                    class="buttonOn">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>
<script src="/js/write/write.js"></script>
</body>
</html>