<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
  <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
  <title>내 강의실 -피테버(PTever)</title>
  <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>
    body {font-family: 'SUIT', sans-serif;}
  </style>
  <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
  <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
  <link rel="stylesheet" href="/css/my-lectures/myLectures.css">
</head>
<body>
<div class="root pc myLectures">
  <div class="RootWrapper">

    <div class="PageWrapper">
      <header class="myLecturesHeader">
        <div class="Content">
          <div class="Title">내 강의실</div>
        </div>
      </header>
      <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
        <div>
          <div class="ListSmallTitle irErpt">내 강의 목록</div>
          <div class="MyLectureListPage jZtIEr">
            <div class="LectureList hHOLgL">
              <div class="LectureImageWrapper gDuKGF">
                <img class="LectureImageLoader bUFcfh" width="160" src="/image/my-lectures/octopus.jpg">
                <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
                  <div class="Ratio" style="display: block;">
                    <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 120%;">
                      <div class="RatioContent" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                        <img alt="강의 이미지" class="RealLectureImage VUNpu" width="160" src="/image/my-lectures/octopus.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="LectureDetail dfnTnv">무너지지않는문어</div>
                <div class="LectureTitle kBOcSr">미라클 모닝 스트레칭 루틴🤸‍♀️</div>
                <span class="LectureDetail dfnTnv">전신</span>
                <span class="LectureDetail dfnTnv">스트레칭</span>
                <span class="LectureDetail dfnTnv">영상 3</span>
                <div class="LectureDetail dfnTnv">결제일자: 2023-05-16</div>
              </div>
              <a class="LectureEntery" href="">
                <button type="button" class="ButtonWrapper jXWOEn">
                      <span class="FlexWrapper lnoWON">
                        <span class="ButtonTextWrapper ffdgGn">
                        <span class="TextContinue bFCrTC">강의실 입장</span>
                        </span>
                      </span>
                </button>
              </a>
            </div>

            <div class="LectureList hHOLgL">
              <div class="LectureImageWrapper gDuKGF">
                <img class="LectureImageLoader bUFcfh" width="160" src="/image/my-lectures/strongMan.png">
                <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
                  <div class="Ratio" style="display: block;">
                    <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 120%;">
                      <div class="RatioContent" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                        <img alt="강의 이미지" class="RealLectureImage VUNpu" width="160" src="/image/my-lectures/strongMan.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="LectureDetail dfnTnv">강한남자 DS Han</div>
                <div class="LectureTitle kBOcSr">야, 너두 배에 빨래판 달 수 있어.</div>
                <span class="LectureDetail dfnTnv">복근</span>
                <span class="LectureDetail dfnTnv">웨이트</span>
                <span class="LectureDetail dfnTnv">영상 5</span>
                <div class="LectureDetail dfnTnv">결제일자: 2023-07-22</div>
              </div>
              <a class="LectureEntery" href="">
                <button type="button" class="ButtonWrapper jXWOEn">
                      <span class="FlexWrapper lnoWON">
                        <span class="ButtonTextWrapper ffdgGn">
                        <span class="TextContinue bFCrTC">강의실 입장</span>
                        </span>
                      </span>
                </button>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 모바일 버전 -->
</div>
<div class="root mobile myLectures">
  <div class="RootWrapper">

    <div class="PageWrapper">
      <header class="myLecturesHeader">
        <div class="Content">
          <div class="Title">내 강의실</div>
        </div>
      </header>
      <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
        <div>
          <div class="ListSmallTitle irErpt">내 강의 목록</div>
          <div class="MyLectureListPage jZtIEr">
            <div class="LectureList hHOLgL">
              <div class="LectureImageWrapper gDuKGF">
                <img class="LectureImageLoader bUFcfh" width="160" src="/image/my-lectures/octopus.jpg">
                <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
                  <div class="Ratio" style="display: block;">
                    <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 120%;">
                      <div class="RatioContent" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                        <img alt="강의 이미지" class="RealLectureImage VUNpu" width="160" src="/image/my-lectures/octopus.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="LectureDetail dfnTnv">무너지지않는문어</div>
                <div class="LectureTitle kBOcSr">미라클 모닝 스트레칭 루틴🤸‍♀️</div>
                <span class="LectureDetail dfnTnv">전신</span>
                <span class="LectureDetail dfnTnv">스트레칭</span>
                <span class="LectureDetail dfnTnv">영상 3</span>
                <div class="LectureDetail dfnTnv">결제일자: 2023-05-16</div>
                <a class="LectureEntery" href="">
                  <button type="button" class="ButtonWrapper jXWOEn">
                      <span class="FlexWrapper lnoWON">
                        <span class="ButtonTextWrapper ffdgGn">
                        <span class="TextContinue bFCrTC">강의실 입장</span>
                        </span>
                      </span>
                  </button>
                </a>
              </div>
            </div>

            <div class="LectureList hHOLgL">
              <div class="LectureImageWrapper gDuKGF">
                <img class="LectureImageLoader bUFcfh" width="160" src="/image/my-lectures/strongMan.png">
                <div class="MyLectureListWrapper koasSX" style="opacity: 1; display: block;">
                  <div class="Ratio" style="display: block;">
                    <div class="Ratio-ratio" style="height: 0px; position: relative; width: 100%; padding-top: 120%;">
                      <div class="RatioContent" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                        <img alt="강의 이미지" class="RealLectureImage VUNpu" width="160" src="/image/my-lectures/strongMan.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="LectureDetail dfnTnv">강한남자 DS Han</div>
                <div class="LectureTitle kBOcSr">야, 너두 배에 빨래판 달 수 있어.</div>
                <span class="LectureDetail dfnTnv">복근</span>
                <span class="LectureDetail dfnTnv">웨이트</span>
                <span class="LectureDetail dfnTnv">영상 5</span>
                <div class="LectureDetail dfnTnv">결제일자: 2023-07-22</div>
                <a class="LectureEntery" href="">
                  <button type="button" class="ButtonWrapper jXWOEn">
                      <span class="FlexWrapper lnoWON">
                        <span class="ButtonTextWrapper ffdgGn">
                        <span class="TextContinue bFCrTC">강의실 입장</span>
                        </span>
                      </span>
                  </button>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



</body>

</html>