<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
  <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
  <title>마이페이지 -피테버(PTever)</title>
  <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>
    body {font-family: 'SUIT', sans-serif;}
  </style>
  <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
  <link rel="stylesheet" href="/css/mypage/myPage.css">
  <link rel="stylesheet" href="/css/paging/paging.css">
  <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
</head>
<body>
<!-- 전체를 감싸는 DOM div -->
<!-- pc 버전 -->
<div class="root pc myPage">
  <div class="RootWrapper">

    <!-- 헤더 아래에 들어갈 페이지 wrap -->
    <div class="PageWrapper">
      <!-- 내 정보 wrap -->
      <div class="UserInfoWrapper">
        <!-- 누르면 내 정보로 이동하는 a태그 -->
        <a class="UserInfoWrapperLink" href="/my/profile">
          <img src="/image/mypage/profile.jpg" class="UserImage">
          <!-- 닉네임, 계정상태 wrap -->
          <div class="UserInfoTextWrapper">
            <div class="UserInfoNickname">Ganzi_Tokito</div>
            <div class="UserInfoAccount">카카오톡 계정</div>
          </div>
        </a>
      </div>

      <!-- 사용자가 보유한 정보를 보여줍니다. -->
      <div class="UserPropertyContainer">
        <a href="/my/lectures">
          <div class="UserPropertyTitle">내 강의실</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/posts">
          <div class="UserPropertyTitle">게시물</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/reviews">
          <div class="UserPropertyTitle">후기</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/coupons">
          <div class="UserPropertyTitle">쿠폰</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/setting">
          <div class="UserPropertyTitle">설정</div>
          <img id="cogwheel" src="/image/mypage/setting.png">
        </a>
      </div>

      <!-- 구분선 -->
      <hr class="MyPageHr">

      <!-- 내 활동 -->
      <div class="MyPageDomainWrapper">
        <header>내 활동</header>
        <!-- 강의 결제내역 페이지로 이동 -->
        <a href="/my/purchases/lectures">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">강의 결제내역</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 상품 주문내역 페이지로 이동 -->
        <a href="/my/purchases/products">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">상품 주문내역</div>
              <div></div>
            </div>
          </div>
        </a>
      </div>

      <!-- 내 활동과 고객센터 구분선 -->
      <hr size="32" type="Line" class="MypageBorder">

      <!-- 고객센터 -->
      <div class="MyPageDomainWrapper">
        <header>고객센터</header>
        <!-- 공지사항 페이지로 이동 -->
        <a href="/notice">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">공지사항</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 자주 묻는 질문 페이지로 이동 -->
        <a href="/help">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">FAQ</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 1:1 문의(문의목록) 페이지로 이동 -->
        <a href="/inquiry">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">1:1 문의</div>
              <div></div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<!-- 모바일 버전 -->
<!-- 전체를 감싸는 DOM div -->
<!--mobile 버전 -->
<div class="root mobile myPage">
  <div class="RootWrapper">

    <!-- 헤더 아래에 들어갈 페이지 wrap -->
    <div class="PageWrapper">
      <!-- 내 정보 wrap -->
      <div class="UserInfoWrapper">
        <!-- 누르면 내 정보로 이동하는 a태그 -->
        <a class="UserInfoWrapperLink" href="/my/profile">
          <img src="/image/mypage/profile.jpg" class="UserImage">
          <!-- 닉네임, 계정상태 wrap -->
          <div class="UserInfoTextWrapper">
            <div class="UserInfoNickname">Ganzi_Tokito</div>
            <div class="UserInfoAccount">카카오톡 계정</div>
          </div>
        </a>
      </div>

      <!-- 사용자가 보유한 정보를 보여줍니다. -->
      <div class="UserPropertyContainer">
        <a href="/my/lectures">
          <div class="UserPropertyTitle">내 강의실</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/posts">
          <div class="UserPropertyTitle">게시물</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/reviews">
          <div class="UserPropertyTitle">후기</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/coupons">
          <div class="UserPropertyTitle">쿠폰</div>
          <div class="UserPropertyValue">0</div>
        </a>

        <a href="/my/setting">
          <div class="UserPropertyTitle">설정</div>
          <img id="cogwheel" src="/image/mypage/setting.png">

        </a>
      </div>

      <!-- 구분선 -->
      <hr class="MyPageHr">

      <!-- 내 활동 -->
      <div class="MyPageDomainWrapper">
        <header>내 활동</header>
        <!-- 강의 결제내역 페이지로 이동 -->
        <a href="/my/purchases/lectures">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">강의 결제내역</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 상품 주문내역 페이지로 이동 -->
        <a href="/my/purchases/products">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">상품 주문내역</div>
              <div></div>
            </div>
          </div>
        </a>
      </div>

      <!-- 내 활동과 고객센터 구분선 -->
      <hr size="32" type="Line" class="MypageBorder">

      <!-- 고객센터 -->
      <div class="MyPageDomainWrapper">
        <header>고객센터</header>
        <!-- 공지사항 페이지로 이동 -->
        <a href="/notice">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">공지사항</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 자주 묻는 질문 페이지로 이동 -->
        <a href="/help">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">FAQ</div>
              <div></div>
            </div>
          </div>
        </a>
        <!-- 1:1 문의(문의목록) 페이지로 이동 -->
        <a href="/inquiry">
          <div class="TableBase">
            <div class="TableRowContentWrapper">
              <div class="TableRowTitle">1:1 문의</div>
              <div></div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

</body>
</html>