<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>상품 구매내역 -피테버(PTever)</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
    <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
    <link rel="stylesheet" href="/css/purchase-history/noHistory.css">
</head>
<body>
<div class="root pc purchaseHistory">
    <div class="RootWrapper">
        <div class="PageWrapper">
            <header class="purchaseHistoryHeader">
                <div class="Content">
                    <div class="Title">상품 구매내역</div>
                </div>
            </header>
            <div class="purchaseHistoryListWrapper koasSX" style="opacity: 1; display: block;">
                <div>
                    <div class="ListSmallTitle irErpt">구매내역 목록</div>
                    <!-- 구매내역 중 강의와 상품을 나눠서 볼 수 있는 카테고리 버튼입니다. -->
                    <div>
                        <a class="CategorySection" href="">
                            <button type="button" class="CategoryButtonWrapper jXWOEn">
                      <span class="CategoryFlexWrapper lnoWON">
                        <span class="CategoryButtonTextWrapper ffdgGn">
                        <span class="CategoryTextContinue bFCrTC">강의</span>
                        </span>
                      </span>
                            </button>
                        </a>
                        <a class="CategorySection" href="">
                            <!-- 상품 버튼을 클릭했을 때 상품 구매내역 페이지로 이동하고 클래스명에 Current가 붙습니다. -->
                            <button type="button" class="CategoryButtonWrapperCurrent jXWOEn">
                      <span class="CategoryFlexWrapper lnoWON">
                        <span class="CategoryButtonTextWrapper ffdgGn">
                        <span class="CategoryTextContinue bFCrTC">상품</span>
                        </span>
                      </span>
                            </button>
                        </a>
                    </div>
                    <!-- 구매내역이 없을 때 나오는 섹션 -->
                    <div class="ContentWrapper">
                        <!-- Inner Wrapper -->
                        <div class="noContentWrapper" style="opacity: 1; display: block;">
                            <!-- 가장 안쪽 Wrapper -->
                            <div class="noBaseWrapper">
                                <!-- 구매한 상품이 없을 때의 화면입니다. -->
                                <img class="noPTEVER" src="/image/purchase-history/noPTEVER.png" alt="구매한 상품이 없어요.">
                                <strong class="BaseHeader">아직 구매한 상품이 없어요.</strong>
                                <div class="BaseDescription">피테버 시작으로 건강한 신체와 마음을 가져보세요!</div>
                                <!-- 컨텐츠 부분과 버튼 사이를 띄워줍니다. -->
                                <br>
                                <br>
                                <a class="GoToShoppingBasket" href="">
                                    <button type="button" class="ButtonWrapper jXWOEn">
                  <span class="FlexWrapper lnoWON">
                    <span class="ButtonTextWrapper ffdgGn">
                    <span class="TextContinue bFCrTC">장바구니로 이동</span>
                    </span>
                  </span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>