<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
  <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
  <title>내 후기 -피테버(PTever)</title>
  <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>
    body {font-family: 'SUIT', sans-serif;}
  </style>
  <!-- 아래 링크 태그를 꼭 넣어주세요. (경로 조심) -->
  <link rel="stylesheet" href="/defaultCommon.css">
  <link rel="stylesheet" href="/myReviews/myReviews.css">
</head>
<body>
<div class="root pc myReviews">
  <div class="RootWrapper">
    <div class="PageWrapper">
      <header class="myReviewsHeader">
        <div class="Content">
          <div class="Title">내 후기</div>
        </div>
      </header>
      <div class="MyReviewWrapper fzBbGO">
        <div class="FadeWrapper koasSX" style="opacity: 1; display: block;">
          <div class="MyReviewListsWrapper ciajVR">

            <div class="ListWrapper">
              <div class="ReviewInfoWrapper ePpOcl kHXXhk">
                <div class="ReviewInfo jHdfwa">
                  <div class="ReviewContentImageWrapper kHBCa-D">
                    <div class="ProfileImageWrapper gDuKGF">
                      <div class="FadeWrapper koasSX" style="opacity: 1; display: block;">
                        <div class="Ratio " style="display: block;">
                          <div class="RatioRatio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                            <div class="RatioContent " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                              <img class="ServiceImage hPRDQO" src="/myReviews/octopusTeacher.jpg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ServiceWrapper hopp">
                    <a class="ServiceTitle jeiGkC" href="">미라클 모닝 스트레칭 루틴🤸‍♀️</a>
                    <div class="DateOfReview gqDWoy">23-08-31</div>
                  </div>
                </div>
                <button class="ReviewDeleteButton lbwitP">
                  <img class="ReviewDeleteButtonImg" src="/myReviews/delete.png" alt="후기삭제">
                </button>
              </div>

              <div class="RatioImageWrapper gxnsGQ" image="" style="display: block;">
                <div class="RatioRatio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                  <div class="RatioContent " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                    <div class="ReviewImageWrapper jGjBCL">
                      <div class="ReviewImageLoaderWrapper gVvWKc">
                        <img src="/myReviews/octopusTeacher.jpg>
                      </div>
                      <div class="FadeWrapper koasSX" style="opacity: 1; display: block;">
                        <div>
                          <img class="ReviewImage" src="/myReviews/goYoungHee.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ReviewContentWrapper lhIpIh eOhuaj">
            <span class="ReviewContent dwGwRt"> 배운 거 기상 후에 매일 10분씩 해주고 있는데 이제 거의 뭐 연체동물이 된 거 같아요~ 저희 고영희씨도 잘 따라하네요!🐱
            </span>
              </div>

              <div class="ActionGroupWrapper cXiDYn">
                <button type="button" class="ActionGroupLikeButton jxmvcs">
                  <img class="ReviewHeart" src="/myReviews/reviewNoHeart.png" alt="좋아요">
                  <span >0</span>
                </button>
                <a class="ActionGroupReviewReply grCiwo" href="">
                  <img class="ReviewReply" src="/myReviews/reviewReply.png" alt="댓글">
                  <span>0</span>
                </a>
              </div>
            </div>


            <div class="ListWrapper">
              <div class="ReviewInfoWrapper ePpOcl kHXXhk">
                <div class="ReviewInfo jHdfwa">
                  <div class="ReviewContentImageWrapper kHBCa-D">
                    <div class="ProfileImageWrapper gDuKGF">
                      <div class="FadeWrapper koasSX" style="opacity: 1; display: block;">
                        <div class="Ratio " style="display: block;">
                          <div class="RatioRatio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                            <div class="RatioContent " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                              <img class="ServiceImage hPRDQO" src="/myReviews/strongMan.png">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ServiceWrapper hopp">
                    <a class="ServiceTitle jeiGkC" href="">야, 너두 배에 빨래판 달 수 있어.</a>
                    <div class="DateOfReview gqDWoy">23-08-25</div>
                  </div>
                </div>
                <button class="ReviewDeleteButton lbwitP">
                  <img class="ReviewDeleteButtonImg" src="/myReviews/delete.png" alt="후기삭제">
                </button>
              </div>

              <div class="RatioImageWrapper gxnsGQ" image="" style="display: block;">
                <div class="RatioRatio " style="height: 0px; position: relative; width: 100%; padding-top: 100%;">
                  <div class="RatioContent " style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;">
                    <div class="ReviewImageWrapper jGjBCL">
                      <div class="ReviewImageLoaderWrapper gVvWKc">
                        <img src="/myReviews/octopusTeacher.jpg">
                      </div>
                      <div class="FadeWrapper koasSX" style="opacity: 1; display: block;">
                        <div class="ImageArrowButtonWrapper">
                          <img data-role="none" class="ReviewImagePrevArrow hPYdgj" src="/myReviews/prevButton.png" style="display: block;">
                          <div class="ImageWrapper">
                            <img class="ReviewImage" src="/myReviews/bokgg.jpg">
                            <img class="ReviewImage" src="/myReviews/bokgg2.jpg">
                            <img class="ReviewImage" src="/myReviews/bokgg3.jpg">
                          </div>
                          <img data-role="none" class="ReviewImageNextArrow" src="./nextButton.png" style="display: block;">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="ReviewContentWrapper lhIpIh eOhuaj">
              <span class="ReviewContent dwGwRt">  DS HAN 트레이너님 덕분에 웬만한 빨래는 이제 배로 해요💜 초콜렛 빨래판 복근 자랑하구 갑니당
              </span>
              </div>

              <div class="ActionGroupWrapper cXiDYn">
                <button type="button" class="ActionGroupLikeButton jxmvcs">
                  <img class="ReviewHeart" src="./reviewNoHeart.png" alt="좋아요">
                  <span class="HeartCount">0</span>
                </button>
                <a class="ActionGroupReviewReply grCiwo" href="">
                  <img class="ReviewReply" src="./reviewReply.png" alt="댓글">
                  <span>0</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script src="/myReviews/myReviews.js"></script>
</html>