/* 기본 CSS */
* {
    outline: none;
    background-repeat: no-repeat;
    font-family: inherit;
    box-sizing: inherit;
    font-weight: bold;
}

html,
body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    display: block;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div.root {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

section {
    display: block;
    font-family: "SUIT", sans-serif;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button,
input {
    overflow: visible;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not(
        [type="file"]
    ) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-image: initial;
}

hr {
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

p,
label {
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b,
strong {
    font-weight: bolder;
}

/* 공지사항 css */

.NoticesWrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.NoticesPagesTitle {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.TabLabelsWrapper {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
    white-space: nowrap;
    overflow: auto;
}

.TabLabelsWrapper-Mobile {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
    white-space: nowrap;
    overflow: auto;
}

.TabLabel-Selected > a, .TabLabel-Unselected > a {
    margin-right: 20px;
}

.TabLabelsWrapper a {
    outline: none;
    text-decoration: none;
    color: black;
}

.TabLabelsWrapper-Mobile a {
    outline: none;
    text-decoration: none;
    color: black;
}

.TabLabel-Selected, .TabLabel-Selected a {
    color: rgb(51, 151, 255) !important;
    cursor: pointer;
}

.TabLabel-Unselected, .TabLabel-Unselected a {
    color: black;
    cursor: pointer;
}

.FadeWrapper1, .FadeWrapper1-Mobile {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.FadeWrapper2, .FadeWrapper2-Mobile {
    opacity: 1;
    display: none;
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.FadeWrapper3, .FadeWrapper3-Mobile {
    opacity: 1;
    display: none;
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.NoticeListWrapper {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.Notice-TitleWrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.Notice-TitleWrapper-Mobile {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 18px;
    padding: 20px 0px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.Notice-Badge {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.Notice-Badge-Mobile {
    margin-left: 0px;
    margin-right: 10px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}


.Notice-Title {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    font-weight: bold;
}

.Notice-CreatedDateTime {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}

.Notice-ContentWrapper {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

.Notice-ContentWrapper * {
    width: 100%;
    font-family: inherit;
}

.Notice-ContentWrapper-Mobile {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 12px;
    line-height: 18px;
}

.Notice-ContentWrapper-Mobile * {
    width: 100%;
    font-family: inherit;
}

.PaginationWrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.Pagination-PrevButtonWrapper {
    display: flex;
    margin-right: 10px;
}

button:disabled {
    cursor: not-allowed;
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.Pagination-PrevButton {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.PrevButton-Image {
    transform: rotate(180deg);
}

.Page-Selected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.Page-Unselected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.Pagination-NextButtonWrapper {
    display: flex;
    margin-left: 10px;
}

.Pagination-NextButton {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

/* 미디어 쿼리 */
.pc {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 768px){
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}