footer.PaginationWrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 100%;
  padding: 30px 0px;
  background-color: white;
}

div.PrevButtonWrapper {
  display: flex;
  margin-right: 10px;
}

button.PrevButton {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: not-allowed;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

img.PrevButtonImg {
  transform: rotate(180deg);
}

button.CurrentPage {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(51, 151, 255);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

div.NextButtonWrapper {
  display: flex;
  margin-left: 10px;
}

button.NextButton {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: not-allowed;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}