/* 기본 CSS */
* {
  outline: none;
  background-repeat: no-repeat;
  font-family: inherit;
  box-sizing: inherit;
  font-weight: bold;
}

html, body {
  width: 100%;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}

html {
  display: block;
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#root {
  background-color: white;
  min-height: 100%;
  min-width: 100%;
}

div.RootWrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

div {
  display: block;
}


div.Padded{
  padding: 0px 20px;
}

div.WritePage_Wrapper{
  max-width: 768px;
    margin: 0px auto;
}

div.WritePage_Header{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 0px;
}

hr.Hr{
  width: 100%;
  height: 1px;
  background-color: rgb(238, 238, 238);
  margin: 0px;
  border: none;
}

hr{
  overflow: visible;
}

div.Fade_Wrapper{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

h1.LeftPageTitle{
  line-height: 0;
  font-size: 20px;
  font-weight: bold;
  margin: 0.67em 0;
}

.WritePage_TextArea{
  width: 100%;
  height: 100%;
  min-height: 275px;
  margin-top: 10px;
  outline: none;
  resize: none;
}

textarea{
  overflow: auto;
  touch-action: manipulation;
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

div.WritePage_Footer{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

 button:disabled {
  cursor: not-allowed;
} 

.buttonOff{
  max-width: 768px;
  width: 100%;
    height: 50px;
    line-height: normal;
    padding: 0px 13px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

button{
  touch-action: manipulation;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  border-style: none;
  margin: 0;
}

.checkboxItem_Wrapper{
  position: relative;
    display: flex;
    line-height: 18px;
    cursor: pointer;
    
}

label{
  margin: 0px;
  touch-action: manipulation;
}


.CheckboxItem_Box{
  -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Crect width='17' height='17' x='.5' y='.5' fill='none' fill-rule='nonzero' stroke='%233397FF' rx='5'/%3E %3C/svg%3E");
}

.CheckboxItem_Input{
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
}

[type="radio"] {
  padding: 0;
}

.WritePage_TitleArea{
  width: 100%;
  height: 70%;
  min-height: 5px;
  margin-top: 20px;
  outline: none;
  resize: none;
  font-size: 20px;
}

.WritePage_TitleArea::placeholder{
  font-size: 20px;
}
/* 
.buttonOn{
  -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='nonzero'%3E %3Crect width='18' height='18' fill='%233397FF' rx='5'/%3E %3Cpath stroke='%23FFF' stroke-width='2' d='M13.485 5.828l-5.657 5.657L5 8.657'/%3E %3C/g%3E %3C/svg%3E");
} */

.CheckboxItem_Box_Select{
  -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='nonzero'%3E %3Crect width='18' height='18' fill='%233397FF' rx='5'/%3E %3Cpath stroke='%23FFF' stroke-width='2' d='M13.485 5.828l-5.657 5.657L5 8.657'/%3E %3C/g%3E %3C/svg%3E")
}

.checkbox_Wrapper{
  width: 300px;
}

.checkbox_Wrapper{
  float: right;
}

.checkBox_Wrapper{
  position: relative;
    display: flex;
    gap: 6px;
}