html {
  cursor: default;
  line-height: 1.5;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}
body {
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}
* {
    outline: none;
    font-family: inherit;
    min-width: 0px;
    min-height: 1px;
    background-repeat: no-repeat;
    box-sizing: inherit;
    background-repeat: no-repeat;
    box-sizing: inherit;
    background-repeat: no-repeat;
    box-sizing: inherit;
}
header, section {
  display: block;
  font-family: 'SUIT', sans-serif;
}

header.NavBar-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(238, 238, 238);
  z-index: 300;
}

section.NavBar-TopNavContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  background-color: rgb(244, 244, 244);
}

div.NavBar-TopNavMenuWrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  max-width: 768px;
  width: 100%;
  padding: 6px 20px;
}

div.NavBar-TopNavMenu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.NavBar-TopNavMenu a {
  margin-left: 20px;
}

.NavBar-TopNavMenu a:first-child {
  margin-left: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  touch-action: manipulation;
  background-color: transparent;
  cursor: pointer;
}

a.TopNavMenu-A, a.MainNavMenu-A {
  min-height: 1px;
}

div.TopNavMenu-Text {
  color: rgb(119, 119, 119);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.3px;
  font-weight: bold;
}

section.NavBar-MainNavContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

div.NavBar-MainNavMenuWrapper {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;
  padding: 22px 20px 8px;
}

div.NavBar-MainNavLeft {
  display: flex;
  width: 100%;
}

div.MainNavLeft-Category {
  width: 48px;
  height: 51px;
}

div.IconWrapper {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 34px;
}

/* img {
  border-style: none;
} */
img {
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
}

span.MainNav {
  display: block;
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgb(170, 170, 170);
}

span.MainNav-Pipe {
  width: 1px;
  height: 38px;
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}

img.MainNav-Logo {
  margin: 17px 0px 17px 20px;
  width: 68px;
  height: 24px;
}

div.MainNav-SearchWrapper {
  height: 38px;
  padding: 0px 14px;
  margin-top: 10px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

div.SearchWrapper {
  width: 100%;
}

form {
  display: block;
  margin-top: 0em;
}

form.SearchForm {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0px 12px;
  border-radius: 19px;
  background-color: rgb(244, 244, 244);
  border: none;
}

img.SearchBar-Icon {
  margin-right: 5px;
  user-select: none;
}

input.SearchInput {
  width: 100%;
  color: rgb(51, 51, 51);
  height: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  overflow: visible;
  background-color: transparent;
  border-style: none;
  margin: 0;
  touch-action: manipulation;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  border-width: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

input::placeholder {
  color:rgb(200, 200, 200);
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  padding: 1px 2px;
  writing-mode: horizontal-tb;
}

div.NavBar-MainNavRight {
  display: flex;
  width: 168px;
}

div.MainNavRight-Community, div.MainNavRight-Wishlist,
div.MainNavRight-Mypage {
  width: 48px;
  height: 51px;
}

/* 쇼핑몰 페이지 */ 
 h2 {
    margin: 0px;
    padding: 0px;
 }
div.Shopping-Wrap { 
  display: flex;  
    flex-flow: column;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}
div.Shopping-FadeWrap {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px
}
.ShoppingMall {
  margin-right: 6px;
  line-height: 50px;
  font-size: 22px;
    font-weight: bold;
}
.Shopping-list {
  box-sizing: content-box;
    padding-bottom: 20px;
    font-size: 12px;
    overflow: auto hidden;
    white-space: nowrap;
}
.Shopping-list a {
  margin-right: 20px;
}
.Shopping-Filter-Wrap {
  position: relative;
}
.Shopping-Filter {
  display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
}
.Filter-Date {
  margin-right: 16px;
}
.Date-Button {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}
Button {
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  margin: 0;
  border-style: none;
  color: inherit;
}
.Button-DateFilter {
  width: auto;
  height: auto;
  line-height: 14px;
  padding: 11px 20px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  color: initial;
  font-size: 14px;
  font-weight: 500;
}

.Filter {
  margin-right: 16px;
}
.FilterOpen {
  display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}
.FilterButton {
  width: auto;
  height: auto;
  line-height: 14px;
  padding: 11px 20px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  color: initial;
  font-size: 14px;
  font-weight: 500;
}

.ProductHeader {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 18px;
    font-size: 14px;
}
.ProductHeader-Header {
  display: flex;
    max-width: calc(100% - 62px);
    font-size: 18px;
    line-height: 22px
}
.ProductHeader-Title {
    display: block;
    margin-right: 8px;
    font-weight: bold;
    color: black;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ProductHeader-Count {
  font-weight: 300;
}

.ProductHeader-Wrap {
  min-width: 52px;
}

.ProductHeader-Wraplink {
  color: black;
}
.Product-Fade-Wrap {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    opacity: 1;
    display: block;
    min-width: 0px;
    min-height: 1px;
}

.CardGroup-Product-Wrap {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 1px;
    padding-bottom: 18px;
}

.CardGroup-Product-Content {
    display: flex;
    flex-flow: wrap;
    min-height: 1px;
}

.CardProduct-Wrap {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: white;
    min-height: 1px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: calc(25% - 11.25px) !important;
}

.WithRink-Card {
  min-height: 1px;
}

.CardProduct-Info {
overflow: hidden;
}

.CardProduct-Img{
  position: relative;
}

/* 사진에 검정 테두리 줌 */
.Img-Wrap {
  min-height: 1px;
  /* border: 1px solid #000; */
  border: 1px solid #ccc; /* 연한 회색 테두리 설정 */
}
/* .CardProduct-Heart {
    position: absolute;
    right: 15px;
    bottom: 13px
} */
/* 찜 버튼 */
.CardProduct-WishContainer {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

.CardProduct-WishButton {
  width: 24px;
  height: 24px;
  line-height: normal;
  padding: 0px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.CardProduct-WishButton > img {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 3px);
}

.FilledHeartImage {
  display: none;
}
/* 여기까지 */

.ImgCard-First {
  display: none !important;
}

.Img-FadeWrap {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    opacity: 0;
    display: none;
    min-width: 0px;
    min-height: 1px;
}
.Ratio {
  display: block;
}
.Ratio-Ratio {
    height: 0px;
    position: relative;
    width: 100%;
    padding-top: 100%;
    
}

.Ratio-Content {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.Img-StyleImg {
    display: initial;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.HeartButton {
  border: none;
  width: 24px;
    height: 24px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.HeartButton-Img {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 3px);
}
.CardProduct-Detail {
  padding: 10px 13px 0px 11px;
}
.CardProduct-Location {
  display: block;
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0px 0px 8px;
}
.CardProduct-Title {
  height: auto;
    margin: 0px 0px 9px;
    font-weight: 400;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 40px;
    line-height: 20px;
    font-size: 14px;
}
.CardProduct-ReviewContainer{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.Review-Star {
  display: flex;
  flex-flow: row;
}
.Star-Img {
  margin-right: 1px;
}
.CardProduct-Review {
  display: block;
    margin: 0px 0px 0px 4px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.03em;
}
.CardProduct-Border {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
hr {
  height: 0;
    overflow: visible;
}
.CardProduct-PriceContainer {
    display: flex;
    flex-direction: column;
}
.CardProduct-Discount {
  color: rgb(204, 204, 204);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-decoration: line-through;
}
.CardProduct-DiscountPrice {
  display: flex;
}
.CardProduct-DiscountRate {
  margin: 0px 2px 0px 0px;
    color: rgb(255, 63, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px
}
.CardProduct-SalePrice {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px
}
.CardProduct-Wrap-Last {
  margin-right: 0px;
  margin-bottom: 30px;
    width: calc(25% - 11.25px) !important;
}
.AllProduct-Button {
  width: 100%;
    line-height: 13px;
    font-size: 13px
}
.AllProductLink-Button {
  display: block;
    margin: 0px auto 40px;
    width: 100%;
    max-width: 450px;
    line-height: 13px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    padding: 18px;
}