/* 기본 CSS */
* {
    outline: none;
    background-repeat: no-repeat;
    font-family: inherit;
    box-sizing: inherit;
    font-weight: bold;
}

html,
body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    display: block;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div.root {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

section {
    display: block;
    font-family: "SUIT", sans-serif;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button,
input {
    overflow: visible;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not(
        [type="file"]
    ) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-image: initial;
}

hr {
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

p,
label {
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b,
strong {
    font-weight: bolder;
}


/* footer css */

.FooterWrapper {
    padding: 40px 20px 96px;
    background-color: rgb(248, 248, 248);
}

.Footer-ContentWrapper {
    margin: 0px auto;
    width: 100%;
    max-width: 768px;
}

.Footer-NavWrapper {
    display: flex;
    font-size: 15px;
}

.Footer-NavWrapper-Mobile {
    display: flex;
    font-size: 13px;
}

.Footer-NavWrapper > * {
    color: rgb(119, 119, 119);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1px;
    margin-right: 30px;
}

.Footer-NavWrapper-Mobile > * {
    color: rgb(119, 119, 119);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1px;
    margin-right: 20px;
}

.Footer-NavWrapper > :last-child {
    margin-right: 0px;
}

.Footer-FirstSectionContainer {
    display: flex;
    flex-direction: column;
}

.Footer-FirstSectionContainer:first-child {
    margin-top: 30px;
}

.Footer-FirstSectionContainer:not(:first-child){
    margin-top: 20px;
}

.Footer-FirstSectionTitle {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.Footer-FirstSectionDescriptionContainer {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 19px 0px 0px;
    padding: 0px;
    list-style: none;
}

.Footer-FirstSectionSubject {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Footer-FirstSectionSubjectTitle {
    display: block;
    margin-right: 8px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.Footer-FirstSectionButton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
}

.Footer-FirstSectionIcon {
    width: 13px;
    height: 13px;
}

.Footer-FirstSectionButtonText {
    display: block;
    margin-left: 2px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
}

.Footer-CenterSectionBorder1 {
    margin-top: 20px;
    border-top: 1px solid rgb(238, 238, 238);
}

.Footer-CenterSectionContainer {
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.Footer-CenterSectionContainer p:first-child {
    margin-top: 20px;
}

.Footer-CenterSectionContainer p:not(:first-child){
    padding-top: 12px;
}

.Footer-CenterSectionBorder2 {
    margin-top: 30px;
    border-top: 1px solid rgb(238, 238, 238);
    margin-bottom: 30px;
}

.Footer-CompanyHeaderWrapper {
    display: flex;
}

.Footer-CompanyHeader {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.Footer-PartnershipButton {
    width: 67px;
    margin-left: 20px;
}

.Footer-PartnershipIcon {
    width: 100%;
}

.Footer-Content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: -0.28px;
    color: rgb(153, 153, 153);
}

.Footer-Content span {
    display: inline-block;
    margin: 3px 0px;
}

.Footer-ContentDivider {
    display: inline-block;
    padding: 0px 5px;
    color: rgb(224, 224, 224);
    font-size: 10px;
    line-height: 1.54;
}

.Footer-Content p {
    line-height: 1.36;
    margin-top: 5px;
}

.Footer-Content a {
    font-weight: bold;
}

.Footer-ContractWrapper {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    line-height: 18px;
}

.Footer-ContractWrapper > :first-child {
    padding-left: 0px;
}

.Footer-ContractWrapper > * {
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid rgb(224, 224, 224);
    white-space: nowrap;
    line-height: 1;
    letter-spacing: -0.33px;
}

.Footer-ContractA {
    min-height: 1px;
}

.Footer-ContractWrapper > :last-child {
    padding-right: 0px;
    border: none;
}

.Footer-AppDownloadButton {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    height: 45px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.3px;
}

.Footer-AppIcon {
    width: 16px;
    height: 18px;
    margin-right: 5px;
}

.Footer-FooterFooter {
    display: flex;
    margin-top: 20px;
    color: rgb(155, 155, 155);
    font-size: 9px;
    line-height: 18px;
}

.Footer-IconButtonGroup {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.Footer-IconButtonGroup > :first-child {
    margin-left: 0px;
}

.Footer-IconButtonGroup > * {
    margin-left: 20px;
}

.Footer-FooterIcon {
    min-height: 1px;
}

/* 미디어 쿼리 */
.pc {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 768px){
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}