/* 기본 CSS */
* {
    outline: none;
    background-repeat: no-repeat;
    font-family: inherit;
    box-sizing: inherit;
    font-weight: bold;
}

html,
body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    display: block;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div.root {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

section {
    display: block;
    font-family: "SUIT", sans-serif;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button,
input {
    overflow: visible;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not(
        [type="file"]
    ) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-image: initial;
}

hr {
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

p,
label {
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b,
strong {
    font-weight: bolder;
}

/* header 및 자식 태그들 css */
header, section {
    display: block;
    font-family: 'SUIT', sans-serif;
}

header.NavBar-wrapper {
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 300;
}

section.NavBar-TopNavContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

div.NavBar-TopNavMenuWrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
}

div.NavBar-TopNavMenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.NavBar-TopNavMenu a {
    margin-left: 20px;
}

.NavBar-TopNavMenu a:first-child {
    margin-left: 0px;
}

a {
    color: inherit;
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
    cursor: pointer;
}

a.TopNavMenu-A, a.MainNavMenu-A {
    min-height: 1px;
}

div.TopNavMenu-Text {
    color: rgb(119, 119, 119);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    font-weight: bold;
}

.TopNavMenu-UserName {
    font-weight: bolder;
}

.TopNavMenu-LogoutButton {
    height: 20px;
    margin-left: 10px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: rgb(102, 102, 102);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

section.NavBar-MainNavContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

div.NavBar-MainNavMenuWrapper {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
}

div.NavBar-MainNavLeft {
    display: flex;
    width: 100%;
}

.MainNavLeft-Mobile {
    align-items: center;
}

div.MainNavLeft-Category {
    width: 48px;
    height: 51px;
}

div.IconWrapper {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}

span.MainNav {
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

span.MainNav-Pipe {
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

img.MainNav-Logo {
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

div.MainNav-SearchWrapper {
    height: 38px;
    padding: 0px 14px;
    margin-top: 10px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

div.SearchWrapper {
    width: 100%;
}

form {
    display: block;
    margin-top: 0em;
}

form.SearchForm {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0px 12px;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);
    border: none;
}

img.SearchBar-Icon {
    margin-right: 5px;
    user-select: none;
}

input.SearchInput {
    width: 100%;
    color: rgb(51, 51, 51);
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    overflow: visible;
    background-color: transparent;
    border-style: none;
    margin: 0;
    touch-action: manipulation;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input::placeholder {
    color:rgb(200, 200, 200);
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    padding: 1px 2px;
    writing-mode: horizontal-tb;
}

.SearchCancelButton {
    display: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    color: rgb(0, 0, 0);
    margin: 0 0 0 6px;
    min-width: 30px;
    padding: 0px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

div.NavBar-MainNavRight {
    display: flex;
    width: 168px;
}

div.MainNavRight-Community, div.MainNavRight-Wishlist,
div.MainNavRight-Mypage {
    width: 48px;
    height: 51px;
}

.FadeWrapper {
    display: none;
    position: absolute;
    opacity: 1;
    top: 114px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.FadeWrapper-Mobile {
    display: none;
    position: absolute;
    opacity: 1;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.NavBar-Overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.NavBar-Overlay-Mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.SearchPanelWrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(238, 238, 238);
    background-color: white;
}

.PopKeywordContainer {
    width: 650px;
    max-width: 100%;
    height: 100%;
}

.PopKeywordSection {
    padding: 20px;
}

.PopKeywordSection:last-child {
    border-bottom: initial;
}

.PopKeywordSection:first-child {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.KeywordHeader {
    padding-bottom: 20px;
}

.KeywordSectionTitle {
    font-weight: bold;
}

.KeywordButtonWrapper {
    display: flex;
    flex-wrap: wrap;
}

.KeywordButton {
    width: auto;
    height: 34px;
    line-height: normal;
    padding: 0px 16.5px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(51, 151, 255);
    border-radius: 5px;
    color: rgb(51, 151, 255);
    font-size: 12px;
    font-weight: 500;
    margin: 0px 12px 6px 0px;
    max-width: 150px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.KeywordButton:hover {
    background-color: rgb(239, 247, 255);
}

/* 앱 헤더 css */

header.Header-Mobile {
    width: 100%;
    border-bottom: none;
    z-index: 300;
}

div.MainNavMenuWrapper-Mobile {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
}

div.MainNavLeft-Mobile {
    display: flex;
    width: 100%;
}

div.MainNavSearch-Mobile {
    height: 60px;
    width: 100%;
    padding: 11px 20px;
}

.BottomBar-Wrapper {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(56px + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 900;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(244, 244, 244);
}

.BottomBar-A {
    min-height: 1px;
}

.BottomBar-Menu {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: rgb(204, 204, 204);
}

.BottomBar-Selected {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: rgb(106, 29, 227);
}

.BottomBar-Menu img, .BottomBar-Selected img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}



/* 미디어쿼리 */
.pc {
    display: block;
}
.mobile {
    display: none;
}

@media(max-width: 768px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
}