<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피테버(PTever)</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <link rel="stylesheet" href="/css/categories/categories.css">
</head>
<body>
<div class="root pc">
    <div class="RootWrapper">
        <div class="CategoryPageWrapper">
            <div class="CategoryWrapper">
                <h1 class="CategoryTitle">카테고리</h1>
                <div class="CategoryFadeWrapper">
                    <div class="CategoryListWrapper">
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="root mobile">
    <div class="RootWrapper">
        <div class="CategoryPageWrapper">
            <div class="CategoryWrapper-Mobile">
                <h1 class="CategoryTitle-Mobile">카테고리</h1>
                <div class="CategoryFadeWrapper">
                    <div class="CategoryListWrapper-Mobile">
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                        <a href="" class="CategoryItemWrapper">
                            <div class="CategoryItem">
                                <div class="CategoryItem-BgDeemed"></div>
                                <div class="CategoryItem-TxDeemed"></div>
                                <span>아웃도어</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>