.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div.BaseStyle {
    font-family: inherit;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-size: 16px;
    line-height: 24px;
}

.BaseStyle * {
  -webkit-tap-highlight-color: transparent;
}

.BaseStyle *, .BaseStyle ::before, .BaseStyle ::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

.withdraw div.PageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

div.PagePositioner {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.withdraw div.ContentWrapper {
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

div.ContentInnerWrapper {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
}

div.Spacer {
  margin-top: 120px;
  margin-bottom: 184px;
}

div.QuestionHeader {
  margin-top: 40px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  display: flex;
  overflow-wrap: break-word;
}

div.TitleWrapper {
  display: flex;
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

label.TitleLabel {
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
}

div.SpacerUnderTitleWrapper {
  margin-top: 8px;
}

p.SpacerUnderTitle {
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  color: rgba(51, 51, 51, 0.7);
  text-align: left;
  overflow-wrap: break-word;
}

div.AnswerWrapper {
  margin-top: 32px;
}

div.InputWrapper {
  width: 100%;
  position: relative;
}

img.PTeverLogo {
  width: 180px;
  height: 45px;
}

input.InputField {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(122, 41, 250);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  -webkit-text-fill-color: rgba(122, 41, 250, 0.3);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(122, 41, 250, 0.3) 0px 1px;
  background-color: transparent !important;
}

div.BlockFooter {
  position: relative;
}

div.BlockFooterSpacer {
  margin-top: 16px;
}

div.AnimateStyled {
  display: block !important;
}

div.SubmitWrapper {
  display: flex;
  flex-flow: wrap;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0px;
}

button.ButtonWrapper {
  position: relative;
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding: 6px 14px;
  min-height: 40px;
  background-color: rgb(122, 41, 250);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

button.ButtonWrapper:hover {
  position: relative;
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding: 6px 14px;
  min-height: 40px;
  background-color: rgb(153, 89, 255);  
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

span.FlexWrapper {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

span.ButtonTextWrapper {
  transition: all 0.2s ease 0s;
}

span.TextWrapperInButton {
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.6px;
}

span.SpacerInButton {
  margin-left: 8px;
}

span.CheckIconWrapper {
  transition: all 0.2s ease 0s;
}

span.Boundary {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

svg:not(:root) {
  overflow: hidden;
}

span.Boundary svg {
  display: block;
  fill: rgb(255, 255, 255);
  transition: fill 0.2s ease 0s;
}

button.ButtonWrapper::after {
  position: absolute;
  content: " ";
  inset: 0px;
  transition: all 0.1s ease-out 0s;
}

div.HelperWrapper {
  margin-left: 20px;
  max-width: 100%;
  width: inherit;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: rgb(51, 51, 51);
  font-family: inherit;
}

p.Warning {
  letter-spacing: 0.2px;
}

label.TitleLabel > span {
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 23px;
}

p.FinalAgreement {
  margin-top: 20px;
  max-width: 100%;
  width: inherit;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: rgb(122, 41, 250);
  font-family: inherit;
  letter-spacing: 0.6px;
}

p.FinalAgreement > span {
  font-weight: bold;
  font-size: 16px;
  color:salmon;
  letter-spacing: 0.7px;
}



@media(max-width:768px) {
  .pc {
    display: block !important;
  }

  label.TitleLabel > span {
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 22px;
    font-weight: bold;
  } 
}

@media(max-width:450px) {
  .pc {
    display: block !important;
  }

  label.TitleLabel > span {
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 22px;
    font-weight: bold;
  } 

  img.PTeverLogo {
    width: 80px;
    height: 20px;
  }
}