/* 기본 CSS */
* {
    outline: none;
    background-repeat: no-repeat;
    font-family: inherit;
    box-sizing: inherit;
    font-weight: bold;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    display: block;
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

#root {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

div {
    display: block;
}

/* header 및 자식 태그들 css */
header, section {
    display: block;
    font-family: 'SUIT', sans-serif;
}

header.NavBar-wrapper {
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 300;
}

section.NavBar-TopNavContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

div.NavBar-TopNavMenuWrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
}

div.NavBar-TopNavMenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.NavBar-TopNavMenu a {
    margin-left: 20px;
}

.NavBar-TopNavMenu a:first-child {
    margin-left: 0px;
}

a {
    color: inherit;
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
    cursor: pointer;
}

a.TopNavMenu-A, a.MainNavMenu-A {
    min-height: 1px;
}

div.TopNavMenu-Text {
    color: rgb(119, 119, 119);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    font-weight: bold;
}

section.NavBar-MainNavContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

div.NavBar-MainNavMenuWrapper {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
}

div.NavBar-MainNavLeft {
    display: flex;
    width: 100%;
}

div.MainNavLeft-Category {
    width: 48px;
    height: 51px;
}

div.IconWrapper {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

img {
    border-style: none;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
    vertical-align: middle;
}

span.MainNav {
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

span.MainNav-Pipe {
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

img.MainNav-Logo {
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

div.MainNav-SearchWrapper {
    height: 38px;
    padding: 0px 14px;
    margin-top: 10px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

div.SearchWrapper {
    width: 100%;
}

form {
    display: block;
    margin-top: 0em;
}

form.SearchForm {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0px 12px;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);
    border: none;
}

img.SearchBar-Icon {
    margin-right: 5px;
    user-select: none;
}

input.SearchInput {
    width: 100%;
    color: rgb(51, 51, 51);
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    overflow: visible;
    background-color: transparent;
    border-style: none;
    margin: 0;
    touch-action: manipulation;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input::placeholder {
    color:rgb(200, 200, 200);
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    padding: 1px 2px;
    writing-mode: horizontal-tb;
}

div.NavBar-MainNavRight {
    display: flex;
    width: 168px;
}

div.MainNavRight-Community, div.MainNavRight-Wishlist,
div.MainNavRight-Mypage {
    width: 48px;
    height: 51px;
}

/* ============================================ */


.page-Wrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.event-Page-Title {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.event-Fade-Wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.eventList-Page-Wrapper {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.event-Entity-Wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.event-Badge {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(160, 130, 250);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.event-Title {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.noticeEntity-Title {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.noticeEntity-Date {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}

.event-Entity-Date {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}

/* 누르면 추가되는 div */
.event-Entity-Content {
    border: none;
    display: none;
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
}

.event-Entity-Content * {
    width: 100%;
    font-family: inherit;
}
.event-Entity-Content img {
    max-width: 600px;
}

p {
    margin: 0px;
}

/* paging */

.pagination-Wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.prev-Btn {
    display: flex;
    margin-right: 10px;
}

.left-Btn {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.left-Btn:disabled{
    cursor: not-allowed;
}

.paginationBtn-Group-Icon {
    transform: rotate(180deg);
}

.Page-Selected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.Page-Unselected {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.page-Btn {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.next-Btn {
    display: flex;
    margin-left: 10px;
}

.right-Btn {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.right-Btn:disabled{
    cursor: not-allowed;
}


button {
    cursor: pointer;
    touch-action: manipulation;
    -webkit-appearance: button;
    text-transform: none;
    border-style: none;
    color: inherit;
    margin: 0;
}


button, input {
    overflow: visible;
}

/* mobile */

.mobile {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

.RootWrappe-mobile {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.page-Wrapper-mobile {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.event-Page-Title-mobile {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.eventList-Page-Wrapper-mobile {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.event-Title-mobile {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}


.event-Entity-Wrapper-mobile {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 18px;
    padding: 20px 0px;
    font-size: 11.8px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.event-Badge-mobile {
    margin-left: 0px;
    margin-right: 10px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(160, 130, 250);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

/* page Btn */
.pagination-Wrapper-mobile {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.prev-Btn-mobile {
    display: flex;
    margin-right: 10px;
}

.left-Btn-mobile {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

.paginationBtn-Group-Icon-mobile {
    transform: rotate(180deg);
}

.page-Btn-mobile {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.next-Btn-mobile {
    display: flex;
    margin-left: 10px;
}

.right-Btn-mobile {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.event-Entity-Content-mobile {
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 12px;
    line-height: 18px;
}

.event-Entity-Content-mobile * {
    width: 100%;
    font-family: inherit;
}

.event-Entity-Content-mobile img {
    max-width: 600px;
}

/* 미디어 쿼리 */
.pc {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 768px){
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}