div.RootWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.pc div.PageWrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

div.UserInfoWrapper {
    padding: 24px 20px 36px;
}

a.UserInfoWrapperLink {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

img.UserImage {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    margin-right: 16px;
}

div.UserInfoTextWrapper {
    overflow: hidden;
}

div.UserInfoNickname {
    margin-bottom: 4px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.54px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.UserInfoAccount {
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: -0.36px;
}

.pc div.UserPropertyContainer {
    display: flex;
    gap: 60px;
    padding: 0px 20px 38px;
}

.pc div.UserPropertyContainer > * {
    max-width: 116px;
}

div.UserPropertyTitle {
    position: relative;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.42px;
}

div.UserPropertyValue {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.6px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cogwheel {
    margin: 0 auto;
    text-align: center;
    width: 23px;
    height: 23px;
}

hr.MyPageHr {
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: none;
    margin: 0px 0px 16px;
}

div.MyPageDomainWrapper > header {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: -0.42px;
    color: rgb(204, 204, 204);
}

div.TableBase {
    width: auto;
    height: 64px;
    margin: 0px;
    padding: 0px 20px;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
}

div.TableBase:hover {
    width: auto;
    height: 64px;
    margin: 0px;
    padding: 0px 20px;
    border-bottom: none;
    background-color: rgb(247, 247, 247);
}

div.TableRowContentWrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 16px 0px;
}

div.TableRowTitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: rgb(51, 51, 51);
    font-family: inherit;
    font-weight: bold;
}

hr.MypageBorder {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 16px 20px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media (max-width: 768px) {
    div.RootWrapper {
        position: relative;
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }

    .mobile div.PageWrapper {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        margin: 0px auto;
        max-width: 808px;
        width: 100%;
        padding: 0px;
        min-height: 1px;
    }

    div.UserInfoWrapper {
        padding: 24px 20px 36px;
    }

    a.UserInfoWrapperLink {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    img.UserImage {
        width: 64px;
        height: 64px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        margin-right: 16px;
    }

    div.UserInfoTextWrapper {
        overflow: hidden;
    }

    div.UserInfoNickname {
        margin-bottom: 4px;
        color: rgb(51, 51, 51);
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        letter-spacing: -0.54px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    div.UserInfoAccount {
        color: rgb(170, 170, 170);
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: -0.36px;
    }

    .mobile div.UserPropertyContainer {
        display: flex;
        gap: 52px;
        padding: 0px 20px 38px;
    }

    .mobile div.UserPropertyContainer > * {
        max-width: 99px;
    }

    div.UserPropertyTitle {
        position: relative;
        color: rgb(119, 119, 119);
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: -0.42px;
    }

    div.UserPropertyValue {
        color: rgb(51, 51, 51);
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        letter-spacing: -0.6px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #cogwheel {
        margin: 0 auto;
        text-align: center;
        width: 23px;
        height: 23px;
    }


    hr.MyPageHr {
        width: 100%;
        border-top: 1px solid rgb(238, 238, 238);
        border-bottom: none;
        margin: 0px 0px 16px;
    }

    div.MyPageDomainWrapper > header {
        padding: 8px 20px;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        letter-spacing: -0.42px;
        color: rgb(204, 204, 204);
    }

    div.TableBase {
        width: auto;
        height: 64px;
        margin: 0px;
        padding: 0px 20px;
        border-bottom: none;
        background-color: rgb(255, 255, 255);
    }

    div.TableBase:hover {
        width: auto;
        height: 64px;
        margin: 0px;
        padding: 0px 20px;
        border-bottom: none;
        background-color: rgb(247, 247, 247);
    }

    div.TableRowContentWrapper {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        padding: 16px 0px;
    }

    div.TableRowTitle {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: rgb(51, 51, 51);
    }

    hr.MypageBorder {
        height: 1px;
        background-color: rgb(255, 255, 255);
        margin: 16px 20px;
        border-top: 1px solid rgb(238, 238, 238);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}







