<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTever</title>
  <link rel="stylesheet" href="transaction-App.css">
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  <style>

    body {font-family: 'SUIT', sans-serif;}
  </style>
</head>
<body>

<div class="pageWrapper">
  <div class="page_title">
    <h1 font-size="30px" class="leftPageTitle">커뮤니티</h1>
    <button width="210px" font-size="14px" class="ButtonWrite">글쓰기</button>
  </div>

  <div class="FreePostPage_Bar">
    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">전체</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">자유게시판</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">소도구 거래 게시판</span>
      </div>
    </a>

    <a href="" class="FreePostPage_Link">
      <div class="FreePostPage_Link_Wrapper">
        <span class="FreePostPage_Link_Element">내가 쓴 게시글</span>
      </div>
    </a>
  </div>

  <div class="Fade_Wrapper" style="opacity: 1; display: block;">
    <ul class="Transaction_Wrapper">
      <li>
        <div class="Transaction_TitleWrapper">
          <div class="Transaction_Bage">소도구 거래 게시판</div>

          <div class="Transaction_Title">광복절(8/15) 고객센터 운영시간 안내</div>


        </div>
      </li>
      <li>
        <div class="Transaction_TitleWrapper">
          <div class="Transaction_Bage">소도구 거래 게시판</div>

          <div class="Transaction_Title">현충일(6/6) 고객센터 운영시간 안내</div>


        </div>
      </li>
      <li>
        <div class="Transaction_TitleWrapper">
          <div class="Transaction_Bage">소도구 거래 게시판</div>

          <div class="Transaction_Title">코로나19 확진자 관련 환불 규정 변경 안내 (6/1 ~ )</div>


        </div>
      </li>
      <li><div class="Transaction_TitleWrapper">
        <div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">부처님 오신 날(5/27)과 대체 휴무일(5/29) 고객센터 운영시간 안내</div>


      </div></li>
      <li><div class="Transaction_TitleWrapper">
        <div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">이용 약관 개정 안내
        </div>


      </div></li>
      <li><div class="Transaction_TitleWrapper">
        <div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">5월 17일 (수요일) 고객센터 단축 운영 안내</div>


      </div></li>
      <li><div class="Transaction_TitleWrapper">
        <div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">위치기반 서비스 이용약관 변경 안내</div>


      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">근로자의 날(5/1), 어린이날(5/5) 고객센터 운영시간 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">삼일절(3/1) 고객센터 운영시간 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">설 연휴 기간 (1/21~1/24) 고객센터 운영시간 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">공휴일(12/25, 1/1) 고객센터 단축 운영 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">프립톡 서비스 종료 안내 (11/23 종료)</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">고객센터 상담 서비스 일부 변경 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">카카오톡 연계 서비스 장애 관련 안내 (10/17 18:00 정상화)</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">10월 공휴일 (10/3, 9, 10) 고객센터 운영시간 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">9월 23일 (금요일) 고객센터 단축 운영 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">iOS 최소 지원 버전 업데이트 안내</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">시스템 점검으로 인한 서비스 일시 중단 안내 (9월 8일, 오전 00:30 ~ 오전 01:30)</div>

      </div></li>
      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">추석 연휴 기간 (9/9~9/12) 고객센터 운영시간 안내</div>

      </div></li>

      <li><div class="Transaction_TitleWrapper"><div class="Transaction_Bage">소도구 거래 게시판</div>

        <div class="Transaction_Title">8월 공휴일 (8/15) 고객센터 운영시간 안내</div>

      </div></li>
    </ul>
  </div>

</div>





</body>
<script src="transaction.js"></script>
</html>