<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>비밀번호 변경 -PTever(피테버)</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: "SUIT", sans-serif;
        }
    </style>
    <!--====================================================-->
    <link rel="stylesheet" href="/css/default-common/defaultCommon.css">
    <link rel="stylesheet" href="/css/change-password/changePassword.css" />
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
<div class="root pc">
    <div class="RootWrapper">
        <header th:replace="~{fix/header-login :: header-login}"></header>
        <div class="registerPage">
            <div class="registerPage-Wrapper">
                <div class="center-wrapper">
                    <h3>비밀번호 변경</h3>
                </div>
                <!-- autocomlete="false"
                        자동 완성 기능 해제
                        -->
                <form method="post" th:action="@{/login/changePassword}" autocomplete="false" class="registerPage-Form">
                    <!-- 아래4가지는 클래스가 바뀜 -->
                    <div>
                        <!-- 바뀌는 클래스명 iRBMai -> hYhAPw -->
                        <input
                                type="password"
                                name="oldPw"
                                placeholder="기존 비밀번호 입력"
                                class="correct-Input-Form"
                                th:name="oldPassword"
                        />
                    </div>
                    <div>
                        <!-- 바뀌는 클래스명 iRBMai -> hYhAPw -->
                        <!-- autocomplete="new-password"
                                    새로운 비밀번호를 입력하는 영역으로 자동완성을 금지한다
                                    off와 동일한 기능을 하지만 새로운 비밀번호를 입력하는 영역으로 완전한 자동완성을 금지할 수 있고,
                                    크롬 등에서 안전한 무작위 비밀번호 추천을 요청할 수도 있게 된다. -->
                        <!-- aria-autocomplete="list"
                                     이 속성은 접근성(웹 접근성)을 개선하기 위해 사용됩니다.
                                     "list" 값은 입력 요소의 자동완성 옵션을 목록 형태로 제공한다는 것을 의미합니다. -->
                        <input
                                type="password"
                                name="newPw"
                                placeholder="새 비밀번호 입력"
                                autocomplete="new-password"
                                aria-autocomplete="list"
                                class="correct-Input-Form"
                                th:name="newPassword"
                        />
                        <!-- 바뀌는 클래스명 cIOZzg -> bViOzS -->
                        <p class="correct-Form-Description">
                            대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상
                        </p>
                    </div>
                    <div>
                        <!-- iRBMai -> hYhAPw -->
                        <input
                                type="password"
                                name="passwordConfirm"
                                placeholder="새 비밀번호 한 번 더"
                                class="correct-Input-Form"
                        />
                        <p class="warning"></p>
                    </div>
                    <!-- chSrfn -> foCOgK -->
                    <button
                            type="submit"
                            width="100%"
                            height="56px"
                            color="#f4f4f4"
                            font-size="16px"
                            disabled
                            class="correct-RegisterPage-Submit-Btn"
                    >
                        변경하기
                    </button>
                </form>
            </div>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>

</body>
<script src="/js/change-password/changePassword.js"></script>
</html>
