<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>PTever</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {
            font-family: 'SUIT', sans-serif;
        }
    </style>
    <!--================================================-->
    <link rel="stylesheet" href="/css/find-password/find-password.css">
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
<div class="root pc">
    <div class="RootWrapper">
        <header th:replace="~{fix/header-login :: header-login}"></header>
        <div class="find-Password">
            <div class="center-Wrapper">
                <h3>비밀번호 찾기</h3>
            </div>
            
            <form class="login-RegisterForm">
                <div>
                    <!-- iRBMai -> hYhAPw 형식 안 맞으면 -->
                    <input type="email" name="email" placeholder="아이디 (이메일)" class="input-Email-Form">
                    <p class="form-Description">비밀번호를 재설정하려는 아이디(이메일)를 입력해 주세요.</p>
                </div>
                <!-- ppTTf -> bGHqGe -->
                <button type="submit" width="100%" height="56px" color="#f4f4f4" font-size="16px" disabled
                        class="send-Email-Btn">이메일 발송
                </button>
            </form>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>
<div class="root mobile">
    <div class="rootWrapper-mobile">
        <div class="find-Password-mobile">
            <div class="center-Wrapper-mobile">
                <h3>비밀번호 찾기</h3>
                <button type="button" class="backBtn-mobile">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E %3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 7l-9 9 9 9'/%3E %3C/svg%3E"
                         alt="left-arrow-icon">
                </button>
            </div>
            
            <form class="login-RegisterForm-mobile">
                <div>
                    <!-- iRBMai -> hYhAPw 형식 안 맞으면 -->
                    <input type="email" name="email" placeholder="아이디 (이메일)" class="input-Email-Form-mobile">
                    <p class="form-Description">비밀번호를 재설정하려는 아이디(이메일)를 입력해 주세요.</p>
                </div>
                <!-- ppTTf -> bGHqGe -->
                <button type="submit" width="100%" height="56px" color="#f4f4f4" font-size="16px" disabled
                        class="send-Email-Btn-mobile">이메일 발송
                </button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/js/find-password/find-password.js"></script>
</html>