<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 타이틀은 프립처럼 상세설명 추가해도 되고, -->
    <!-- 깔끔하게 PTever만 넣어도 될 것 같습니다. -->
    <title>PTever</title>
    <!-- SUIT 폰트 링크입니다. 프립과 동일한 폰트입니다. -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>
        body {font-family: 'SUIT', sans-serif;}
    </style>
    <!--====================================================-->
    <link rel="stylesheet" href="/css/sign-up-email2/sign-up-email2.css">
    <th:block th:replace="~{fix/header-login :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<!-- DOM TREE를 하나로 구성하기 위해서 전체를 감싸는 div태그입니다. -->
<div class="root pc">
    <div class="RootWrapper">
        <header th:replace="~{fix/header-login :: header-login}"></header>
        <div class="page-Wrapper">
            <div class="register-Page-Wrapper">
                <div class="center-Wrapper">
                    <h3>회원가입</h3>
                </div>
                <form autocomplete="false" class="form-RegisterPage">
                    <div>
                        <input type="text" name="nickname" placeholder="닉네임" class="form-Input">
                    </div>
                    <div class="certification-Input-PhoneNum-Btn-Wrapper">
                        <div>
                            <input type="tel" name="mobileNumber" placeholder="휴대폰 번호 ( - 없이 입력)" class="form_Input">
                        </div>
                        <button type="button" width="136px" height="50px" color="#aaa" font-size="14px" disabled class="certification-Btn">인증번호 전송</button>
                    </div>
                    <div class="input-Certification">
                        <div>
                            <div>
                                <input type="number" name="verificationCode" placeholder="인증번호" pattern="[0-9]*" class="form_Input">
                            </div>
                        </div>
                        <button type="button" width="106px" height="50px" color="#b5c5d6" font-size="14px" disabled class="certification-Btn2">인증하기</button>
                    </div>
                    <br>
                    <div class="sheet-Layout">
                        <header class="accept-Box-Header">
                            본인확인 약관
                        </header>
                        <div class="accept-List">
                            <div class="accept-All-Box">
                                <div class="accept-All-List">
                                    <label for="all" class="accept-All">
                                        <input type="checkbox" disabled id="all" name="check-All" class="check-Option-All" value="accept-All">
                                        <span class="checkAll-Title">
                                                이용약관 전체동의
                                            </span>
                                    </label>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="essential-Box">
                                <div class="essential-Div">
                                    <label for="agreement-Check" class="agreement-List">
                                        <input type="checkbox" disabled id="agreement-Check" name="check" value="agreement">
                                        <span class="check-Agreement-Title">
                                                [필수] 이용약관 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank" class="a">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="essential-Div">
                                    <label for="personal-Info-Check" class="personal-Info-List" style="text-align: left;">
                                        <input type="checkbox" disabled id="personal-Info-Check" name="check" value="personal-Info">
                                        <span class="check-Personal-Info-Title">
                                                [필수] 개인정보 처리방침 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="essential-Div">
                                    <label for="location-Check" class="loaction-Service-List">
                                        <input type="checkbox" disabled id="location-Check" name="check" value="location">
                                        <span class="check-Loaction-Service-Title">
                                                [필수] 위치기반 서비스 이용약관 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="choose-Div">
                                    <label for="marketing-Check" class="marketing-List">
                                        <input type="checkbox" disabled id="marketing-Check" name="select-Check" value="marketing">
                                        <span class="check-Marketing-Title">
                                                [선택] 마케팅 수신 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button width="100%" color="white" font-size="16px" height="56px" disabled class="agreement-Btn">
                        모두 동의하고 가입하기
                    </button>
                    <!-- <button type="button" width="100%" height="56px" color="#f4f4f4" font-size="16px" disabled class="signUp-Btn">가입하기</button> -->
                </form>
            </div>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>

<div class="root mobile">
    <div class="RootWrapper">
        <div class="page-Wrapper">
            <div class="register-Page-Wrapper">
                <div class="center-Wrapper">
                    <h3>회원가입</h3>
                    <button type="button" class="backBtn-mobile">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E %3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 7l-9 9 9 9'/%3E %3C/svg%3E" alt="left-arrow-icon">
                    </button>
                </div>
                <form autocomplete="false" class="registerPage-Form-mobile">
                    <div>
                        <input type="text" name="nickname" placeholder="닉네임" class="form-InputNickName-mobile">
                    </div>
                    <div class="certification-Input-PhoneNum-Btn-Wrapper">
                        <div>
                            <input type="tel" name="mobileNumber" placeholder="휴대폰 번호 ( - 없이 입력)" class="form_InputPhoneNum-mobile">
                        </div>
                        <button type="button" width="136px" height="50px" color="#aaa" font-size="14px" disabled class="certification-Btn-mobile">인증번호 전송</button>
                    </div>
                    <div class="input-Certification">
                        <div>
                            <div>
                                <input type="number" name="verificationCode" placeholder="인증번호" pattern="[0-9]*" class="form_InputCheckNum-mobile">
                            </div>
                        </div>
                        <button type="button" width="106px" height="50px" color="#b5c5d6" font-size="14px" disabled class="certification-Btn2-mobile">인증하기</button>
                    </div>
                    <br>
                    <div class="sheet-Layout-mobile">
                        <header class="accept-Box-Header">
                            본인확인 약관
                        </header>
                        <div class="accept-List">
                            <div class="accept-All-Box">
                                <div class="accept-All-List">
                                    <label for="all-mobile" class="accept-All">
                                        <input type="checkbox" disabled id="all-mobile" name="check-All-mobile" value="accept-All">
                                        <span class="checkAll-Title">
                                                이용약관 전체동의
                                            </span>
                                    </label>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="essential-Box">
                                <div class="essential-Div">
                                    <label for="agreement-Check-mobile" class="agreement-List">
                                        <input type="checkbox" disabled id="agreement-Check-mobile" name="check-mobile" value="agreement">
                                        <span class="check-Agreement-Title">
                                                [필수] 이용약관 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank" class="a">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="essential-Div">
                                    <label for="personal-Info-Check-mobile" class="personal-Info-List" style="text-align: left;">
                                        <input type="checkbox" disabled id="personal-Info-Check-mobile" name="check-mobile" value="personal-Info">
                                        <span class="check-Personal-Info-Title">
                                                [필수] 개인정보 처리방침 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="essential-Div">
                                    <label for="location-Check-mobile" class="loaction-Service-List">
                                        <input type="checkbox" disabled id="location-Check-mobile" name="check-mobile" value="location">
                                        <span class="check-Loaction-Service-Title">
                                                [필수] 위치기반 서비스 이용약관 필수 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                                <div class="essential-Div">
                                    <label for="marketing-Check-mobile" class="marketing-List">
                                        <input type="checkbox" disabled  id="marketing-Check-mobile" name="select-Check-mobile" value="marketing">
                                        <span class="check-Marketing-Title">
                                                [선택] 마케팅 수신 동의
                                            </span>
                                    </label>
                                    <a href="" target="_blank">
                                        <img src="data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1 11L6 6L1 1' stroke='%23CCCCCC' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" alt="agreement-Info">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button width="100%" color="white" font-size="16px" height="56px" disabled class="agreement-Btn-mobile">
                        모두 동의하고 가입하기
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/js/sign-up-email2"></script>
</html>