/* 기본 CSS */
* {
  outline: none;
  background-repeat: no-repeat;
  font-family: inherit;
  box-sizing: inherit;
  font-weight: bold;
}

html, body {
  width: 100%;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}

html {
  display: block;
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


div {
  display: block;
}

img{
  border-style:none;
}

audio,canvas,iframe,img,svg,video{
  vertical-align: middle;
}

.SeparateLine{
  height:8px;
  background-color: rgb(244,244,244);
  border:none;
  width:100%;
  margin:24px 0px 32px;
}

hr{
  overflow:visible;
  display:block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

label{
  cursor:default;
}

a, area, button, input, label, select, textarea, [tabindex]{
  touch-action:manipulation;
}



/* body부분 */

#root {
  background-color: white;
  min-height: 100%;
  min-width: 100%;
}

div.RootWrapper{
  position:relative;
  display:flex;
  flex-flow:column;
  min-height:100vh;
}

div.PurchasePageWrapper.PurchasePageWrapper{
  max-width: 768px;
}

div.PurchasePageWrapper{
  display:flex;
  flex-flow:column;
  align-content: flex-start;
  margin:0px auto;
  width:100%;
  padding:36px 20px 0px;
  min: height 1px;
}

element.style{
  opacity:1;
  display:block;
}

.FadeWrapper{
  width:auto;
  height:auto;
  transition:opacity 200ms ease-in-out 0s;
  min-width: 0px;
  min-height:1px;
}
p, label{
  margin:0px;
}

.PurchasePageTitle{
  font-size:20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.6px;
  color:rgb(51,51,51);
}

.ProductInfoContentWrapper{
  padding-top:16px;
  display:flex;
}

.ProductInfoContentWrapper > div:first-child{
  height:fit-content;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.ProductInfoWrapper{
  display:flex;
}

.ProductInfoWrapper > div{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

div.ProductInfoImageWrapper{
  min-width:112px;
  height:112px;
  border-radius:10px;
  overflow:hidden;
}

.ProductInfoSubTitle{
  color:rgb(153,153,153);
  letter-spacing:-0.36px;
  line-height:16px;
  font-size:12px;
  font-weight: 500;;
}

.ProductInfoTitle{
  max-width: 350px;
  color:rgb(51,51,51);
  letter-spacing: -0.48px;
  line-height:24px;
  font-size:16px;
  font-weight: 400;
  margin-top: 6px;
}

.ProductRatingInfo{
  display:flex;
  -webkit-box-align:center;
  align-items: center;
}

.ProductInfoRatingAverage{
  color:rgb(51,51,51);
  letter-spacing: -0.42px;
  line-height: 22px;
  font-size:14px;
  font-weight: 700;
  margin-left: 6px;
}

.ProductInfoRatingCount{
  color:rgb(119,119,119);
  letter-spacing: -0.36px;
  line-height: 16px;
  font-size:12px;
  font-weight:400;
  margin-left:4px;
  margin-right: 8px;
}

.ProductOptioninfoWrapper{
  flex-basis:232px;
  padding-left:20px;
  margin-left:20px;
  border-left:1px solid rgb(244,244,244);
}

.SubTitle{
  color:rgb(51,51,51);
  letter-spacing: -0.48px;
  line-height: 24px;
  font-size:16px;
  font-weight: 600;
}

.OptionInfoGroup:last-child{
  padding-bottom: 0px;
  border-bottom: initial;
}

.OptionInfoGroup{
  padding-top:12px;
}

.OptionInfoGroup > p{
  margin-bottom:6px;
  font-size:14px;
  line-height:22px;
  letter-spacing:-0.42px;
  color:rgb(119,119,119);
}

.PayMethodInputLabel{
  display:flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
  color:rgb(51,51,51);
  padding:16px 0px;
  border-bottom: 1px solid rgb(244,244,244);
}

.PayMethodInputLabel > input{
  width:24px;
  height:24px;
  margin-right:8px;
  margin-top:4px;
}

[type="checkbox"], [type="radio"]{
  padding:0;
}

.PayMethodInputLabelCard{
  display:flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
  color:rgb(51,51,51);
  padding:16px 0px;
}

.PayMethodInputLabelCard > input{
  width:24px;
  height:24px;
  margin-right:8px;
  margin-top:4px;
}

.InputFieldContainer{
  position:relative;
  width:100%;
  cursor:pointer;
}

.InputField{
  display:flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width:100%;
  height:48px;
  margin:0px 0px 8px;
  padding:14px 21px 12px 14px;
  font-size:14px;
  font-weight:400;
  line-height:24px;
  border:1px solid rgb(238,238,238);
  border-radius:3px;
  background-color: rgb(250,250,250);
}

.InputFieldTitle{
  display:flex;
  -webkit-box-align: center;
  align-items: center;
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
  color:rgb(119,119,119);
}

.InputFieldArrowImageContainer{
  width:7px;
  height:24px;
  opacity:1;
  cursor:pointer;
  transform:rotate(0deg);
  transition:opacity 0.2s ease 0s, transform 0.5s ease 0s;
}

.InputFieldArrowImage{
  width:100%;
  height:100%;
  transform:rotate(90deg)
}

img{
  overflow-clip-margin: content-box;
  overflow:clip;  
}

.DiscountContentWrapper{
  padding:24px 0px;
}

.CouponChoiceWrapper{
  display:flex;
  -webkit-box-pack:justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top:8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.CouponCount{
  color:rgb(170,170,170);
}

.InnerActionButton{
  padding:9px 17px;
  border:1px solid rgb(221,221,221);
  border-radius: 20px;
  background-color: rgb(255,255,255);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing:-0.42px;
  color:rgb(51,51,51);
  white-space: nowrap;
}

.Couponhr{
  width:100%;
  height:1px;
  background-color: rgb(238,238,238);
  margin:16px 0px;
  border:none;
}

.TotalPriceSectionWrapper{
  padding-bottom: 24px;
}

.ToTalPriceSectionTitle{
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.6px;
  color:rgb(51,51,51);
  display:flex;
  -webkit-box-pack:justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.TotalPriceText{
  font-size:24px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -0.72px;
  color:rgb(122,41,250);
}

.TotalPriceSectionSubTitle:last-child{
  margin-bottom: initial;
}

.TotalPriceSectionSubTitle{
  color:rgb(51,51,51);
  letter-spacing: -0.48px;
  line-height: 24px;
  font-size:16px;
  font-weight: 600;
  display:flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.PurchaseTermsWrapper{
  padding:16px 20px;
  background-color: rgb(250,250,250);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.36px;
  color:rgb(153,153,153);
}

.PurchaseTermsWrapper > p{
  margin-bottom:16px;
}

.PurchaseTermsWrapper > p > button{
  font-weight: 500;
  padding:0px;
  margin-left: 20px;
}

.PurchaseTermsWrapper > p:last-child{
  margin-bottom:initial;
}

.PurchaseNoticeText{
  color:rgb(153,153,153);
  letter-spacing: -0.36px;
  line-height: 22px;
  text-align: center;
  font-size:14px;
  font-weight: 400;
  height: 22px;
  margin-top: 17px;
}

.SubmitButtonAreaWrapper.SubmitButtonAreaWrapper{
  max-width: 768px;
}

.SubmitButtonAreaWrapper{
  display:flex;
  flex-flow: column;
  align-content: flex-start;
  margin:0px auto;
  width:100%;
  padding:17px 0px 24px;
  min-height: 1px;
}

.PurchaseButton{
  width:100%;
  height: 56px;
  line-height: 24px;
  padding:16px;
  background-color: rgb(122,41,250);
  text-align: center;
  cursor:pointer;
  border-radius: 10px;
  color:white;
  font-size:16px;
  margin:0px;
}
