body.fontLoaded {
  font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

* {
  outline: none;
  font-family: inherit;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

* {
  outline: none;
  background-repeat: no-repeat;
  font-family: inherit;
  box-sizing: inherit;
  font-weight: bold;
}

html, body {
  width: 100%;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

div.pageWrapper{
  display: flex;
    flex-flow: column;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

div.page_title{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px 0px;
}

div.FreePostPage_Bar{
  display: flex;
    gap: 6px;
    overflow-y: hidden;
    white-space: nowrap;
}

a.FreePostPage_Link{
  border-radius: 20px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
}

div.FreePostPage_Link_Wrapper{
  display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    border-radius: 20px;
    min-width: 38px;
    cursor: pointer;
}

span.FreePostPage_Link_Element{
  color: #202124;
  margin: 0 14px;
  font-size: 14px;
    width: fit-content;
    cursor: pointer;
}

button.ButtonWrite{
  width: 170px;
    height: 45px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 14px;
}

.leftPageTitle{
  margin: 20px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

div.Fade_Wrapper{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

ul.Transaction_Wrapper{
  margin: 0px;
    padding: 0px;
    list-style: none;
}

div.Transaction_TitleWrapper{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 18px;
    padding: 20px 0px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}


.Transaction_Title{
  -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.Transaction_Bage{
  margin-left: 0px;
    margin-right: 21px;
    width: 90px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(160, 130, 250);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

