<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ptever.mapper.CommunityCommentMapper">
    <select id="selectAllByPostId" resultType="communityCommentDTO">
        SELECT CC.COMMUNITY_COMMENT_ID, CC.COMMUNITY_ID, CC.USER_ID, CC.POST_ID, CC.COMMENT_CONTENT, CC.COMMENT_WRITE_DATE, CC.COMMENT_UPDATE_DATE, U.USER_NICKNAME
        FROM TBL_COMMUNITY_COMMENT CC
        JOIN TBL_USER U
        ON CC.USER_ID = U.USER_ID
        WHERE POST_ID = #{postId}
        ORDER BY CC.COMMUNITY_COMMENT_ID DESC
    </select>

    <insert id="insertComment">
        INSERT INTO TBL_COMMUNITY_COMMENT(COMMUNITY_COMMENT_ID, USER_ID, COMMENT_CONTENT, POST_ID)
        VALUES(SEQ_COMMUNITY_COMMENT.NEXTVAL, #{userId}, #{commentContent}, #{postId})
    </insert>

    <delete id="deleteComment">
        DELETE FROM TBL_COMMUNITY_COMMENT
        WHERE COMMUNITY_COMMENT_ID = #{communityCommentId}
    </delete>
</mapper>