<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ptever.mapper.MainMapper">
    <select id="selectAllByCourse" resultType="courseSelectDTO">
<!--        SELECT *-->
<!--        FROM(SELECT ROWNUM AS RN, COURSE_ID, COURSE_TITLE, COURSE_PRICE, COURSE_DISCOUNT, COURSE_AVG_SCORE, COURSE_LEVEL_DIFFICULTY-->
<!--             FROM TBL_COURSE WHERE COURSE_STATE = 'ACTIVE' ORDER BY COURSE_AVG_SCORE DESC NULLS LAST )-->
<!--        <![CDATA[-->
<!--            WHERE RN < 5-->
<!--        ]]>-->
        <![CDATA[
        SELECT * FROM
        (
            SELECT ROWNUM AS RN, COURSE_ID, COURSE_TITLE, COURSE_PRICE, COURSE_DISCOUNT, COURSE_AVG_SCORE, COURSE_LEVEL_DIFFICULTY, COURSE_STATE
            FROM
            (
                SELECT *
                FROM TBL_COURSE
                WHERE COURSE_STATE = 'ACTIVE'
                ORDER BY COURSE_AVG_SCORE DESC
                NULLS LAST
            ) C1
        ) C2
        WHERE C2.RN < 5
        ]]>
    </select>
</mapper>