<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ptever.mapper.MainMapper">
    <select id="selectAllByCourse" resultType="courseSelectDTO">
<!--        SELECT *-->
<!--        FROM(SELECT ROWNUM AS RN, COURSE_ID, COURSE_TITLE, COURSE_PRICE, COURSE_DISCOUNT, COURSE_AVG_SCORE, COURSE_LEVEL_DIFFICULTY-->
<!--             FROM TBL_COURSE WHERE COURSE_STATE = 'ACTIVE' ORDER BY COURSE_AVG_SCORE DESC NULLS LAST )-->
<!--        <![CDATA[-->
<!--            WHERE RN < 5-->
<!--        ]]>-->
        <![CDATA[
        SELECT * FROM
        (
            SELECT ROWNUM AS RN, COURSE_ID, COURSE_TITLE, COURSE_PRICE, COURSE_DISCOUNT, COURSE_AVG_SCORE, COURSE_LEVEL_DIFFICULTY, COURSE_STATE
            FROM
            (
                SELECT *
                FROM TBL_COURSE
                WHERE COURSE_STATE = 'ACTIVE'
                ORDER BY COURSE_AVG_SCORE DESC
                NULLS LAST
            ) C1
        ) C2
        WHERE C2.RN < 5
        ]]>
    </select>
    <select id="selectAllLatestDateByCourse" resultType="courseSelectDTO">
        <![CDATA[
        SELECT * FROM
            (
                SELECT ROWNUM AS RN, COURSE_ID, COURSE_TITLE, COURSE_PRICE, COURSE_DISCOUNT, COURSE_AVG_SCORE, COURSE_LEVEL_DIFFICULTY, COURSE_STATE, COURSE_CREATE_DATE
                FROM
                    (
                        SELECT *
                        FROM TBL_COURSE
                        WHERE COURSE_STATE = 'ACTIVE'
                        ORDER BY COURSE_CREATE_DATE DESC NULLS LAST
                    ) C1
            ) C2
        WHERE C2.RN < 5
        ]]>
    </select>
    <select id="selectAllLatestDateByCommunity" resultType="postDTO">
        <![CDATA[
        SELECT *
        FROM (
                 SELECT ROWNUM AS RN, TBL_POST.*
                 FROM (
                          SELECT P.POST_ID,
                                 P.COMMUNITY_ID,
                                 P.USER_ID,
                                 P.POST_TITLE,
                                 P.POST_CONTENT,
                                 P.POST_DATE,
                                 P.POST_UPDATE_DATE,
                                 U.USER_NICKNAME
                          FROM TBL_POST P
                                   JOIN TBL_USER U ON P.USER_ID = U.USER_ID
                          WHERE P.COMMUNITY_ID = #{communityId}
                          ORDER BY P.POST_ID DESC
                      ) TBL_POST
                 WHERE ROWNUM <= 4
             )
        ]]>
    </select>
</mapper>