<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ptever.mapper.PostImgMapper">
    <select id="selectAllByPostId" resultType="postImgVO">
        SELECT POST_IMG_ID, POST_ID, STORED_FILE_NAME, IMAGE_PATH FROM TBL_POST_IMG
        WHERE POST_ID = #{postId}
        ORDER BY POST_IMG_ID
    </select>

    <insert id="insertImg">
        INSERT INTO TBL_POST_IMG(POST_IMG_ID, POST_ID, FILE_SIZE, ORIGIN_FILE_NAME, STORED_FILE_NAME, IMAGE_PATH)
        VALUES(SEQ_POST_IMG.NEXTVAL, #{postId}, #{fileSize}, #{originFileName}, #{storedFileName}, #{imagePath})
    </insert>

    <update id="updateImg">
        UPDATE TBL_POST_IMG
        SET ORIGIN_FILE_NAME = #{originFileName}, STORED_FILE_NAME = #{storedFileName}, IMAGE_PATH = #{imagePath}, FILE_SIZE = #{fileSize}
        WHERE POST_IMG_ID = #{postImgId}
    </update>
</mapper>