<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ptever.mapper.UserProfileMapper">
    <select id="selectByUserId" resultType="userProfileVO">
        SELECT USER_ID, USER_PROFILE_PATH FROM TBL_USER_PROFILE
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertKakaoProfile">
        INSERT INTO TBL_USER_PROFILE(USER_PROFILE_ID, USER_ID, USER_PROFILE_NAME, USER_PROFILE_PATH)
        VALUES(SEQ_USER_PROFILE.NEXTVAL, #{userId}, 'KAKAO', #{userProfilePath})
    </insert>

    <update id="updateProfileWithKakao">
        UPDATE TBL_USER_PROFILE
        SET USER_PROFILE_PATH = #{userProfilePath}
        WHERE USER_ID = #{userId}
    </update>
</mapper>